

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-563503916877087755.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-563503916877087755.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-563503916877087755.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-563503916877087755.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-563503916877087755.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-563503916877087755.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-563503916877087755.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-563503916877087755.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-563503916877087755.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-563503916877087755.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-563503916877087755.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-563503916877087755.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-563503916877087755.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-563503916877087755.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-563503916877087755.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-563503916877087755.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-563503916877087755.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-563503916877087755.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-563503916877087755.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-563503916877087755.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-563503916877087755.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-563503916877087755.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-563503916877087755.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-563503916877087755.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-563503916877087755.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-563503916877087755.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-563503916877087755.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-563503916877087755.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-563503916877087755.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-563503916877087755.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-563503916877087755.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-563503916877087755.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-563503916877087755.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-563503916877087755.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-563503916877087755.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-563503916877087755.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-563503916877087755.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-563503916877087755.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-563503916877087755.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-563503916877087755.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-563503916877087755.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-563503916877087755.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-563503916877087755.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-563503916877087755.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-563503916877087755.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-563503916877087755.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-563503916877087755.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-563503916877087755.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-563503916877087755.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-563503916877087755.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-563503916877087755.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-563503916877087755.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-563503916877087755.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-563503916877087755.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-563503916877087755.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-563503916877087755.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-563503916877087755.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-563503916877087755.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-563503916877087755.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-563503916877087755.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-563503916877087755.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-563503916877087755.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-563503916877087755.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-563503916877087755.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-563503916877087755.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-563503916877087755.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-563503916877087755.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-563503916877087755.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-563503916877087755.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-563503916877087755.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-563503916877087755.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-563503916877087755.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-563503916877087755.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-563503916877087755.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-563503916877087755.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-563503916877087755.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-563503916877087755.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-563503916877087755.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-563503916877087755.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-563503916877087755.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-563503916877087755.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-563503916877087755.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-563503916877087755.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-563503916877087755.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-563503916877087755.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-563503916877087755.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-563503916877087755.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-563503916877087755.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-563503916877087755.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-563503916877087755.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-563503916877087755.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-563503916877087755.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-563503916877087755.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-563503916877087755.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-563503916877087755.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-563503916877087755.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-563503916877087755 .gp-rotate-0,.gps-563503916877087755 .gp-rotate-180,.gps-563503916877087755 .mobile\:gp-rotate-0,.gps-563503916877087755 .mobile\:gp-rotate-180,.gps-563503916877087755 .tablet\:gp-rotate-0,.gps-563503916877087755 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-563503916877087755 .gp-shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-563503916877087755 .gp-static{position:static}.gps-563503916877087755 .gp-relative{position:relative}.gps-563503916877087755 .gp-left-0{left:0}.gps-563503916877087755 .gp-right-0{right:0}.gps-563503916877087755 .gp-z-1{z-index:1}.gps-563503916877087755 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-563503916877087755 .gp-my-0{margin-bottom:0;margin-top:0}.gps-563503916877087755 .gp-mb-0{margin-bottom:0}.gps-563503916877087755 .gp-block{display:block}.gps-563503916877087755 .gp-flex{display:flex}.gps-563503916877087755 .gp-inline-flex{display:inline-flex}.gps-563503916877087755 .gp-grid{display:grid}.gps-563503916877087755 .gp-contents{display:contents}.gps-563503916877087755 .\!gp-hidden{display:none!important}.gps-563503916877087755 .gp-hidden{display:none}.gps-563503916877087755 .gp-aspect-square{aspect-ratio:1/1}.gps-563503916877087755 .gp-h-auto{height:auto}.gps-563503916877087755 .gp-h-full{height:100%}.gps-563503916877087755 .\!gp-min-h-full{min-height:100%!important}.gps-563503916877087755 .gp-w-\[12px\]{width:12px}.gps-563503916877087755 .gp-w-full{width:100%}.gps-563503916877087755 .gp-max-w-full{max-width:100%}.gps-563503916877087755 .gp-flex-none{flex:none}.gps-563503916877087755 .gp-shrink-0{flex-shrink:0}.gps-563503916877087755 .gp-rotate-0{--tw-rotate:0deg}.gps-563503916877087755 .gp-rotate-0,.gps-563503916877087755 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-563503916877087755 .gp-rotate-180{--tw-rotate:180deg}.gps-563503916877087755 .gp-cursor-pointer{cursor:pointer}.gps-563503916877087755 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-563503916877087755 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-563503916877087755 .\!gp-flex-row{flex-direction:row!important}.gps-563503916877087755 .gp-flex-row{flex-direction:row}.gps-563503916877087755 .gp-flex-col{flex-direction:column}.gps-563503916877087755 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-563503916877087755 .gp-items-center{align-items:center}.gps-563503916877087755 .gp-justify-center{justify-content:center}.gps-563503916877087755 .gp-justify-between{justify-content:space-between}.gps-563503916877087755 .gp-gap-2{gap:8px}.gps-563503916877087755 .gp-gap-y-0{row-gap:0}.gps-563503916877087755 .gp-overflow-hidden{overflow:hidden}.gps-563503916877087755 .gp-rounded-full{border-radius:9999px}.gps-563503916877087755 .gp-text-center{text-align:center}.gps-563503916877087755 .gp-leading-\[0\]{line-height:0}.gps-563503916877087755 .gp-text-g-brand{color:var(--g-c-brand)}.gps-563503916877087755 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-563503916877087755 .gp-shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-563503916877087755 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-563503916877087755 .gp-duration-200{transition-duration:.2s}.gps-563503916877087755 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-563503916877087755 .tablet\:gp-static{position:static}.gps-563503916877087755 .tablet\:gp-left-0{left:0}.gps-563503916877087755 .tablet\:gp-right-0{right:0}.gps-563503916877087755 .tablet\:gp-block{display:block}.gps-563503916877087755 .tablet\:\!gp-hidden{display:none!important}.gps-563503916877087755 .tablet\:gp-hidden{display:none}.gps-563503916877087755 .tablet\:gp-h-auto{height:auto}.gps-563503916877087755 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-563503916877087755 .tablet\:gp-flex-none{flex:none}.gps-563503916877087755 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-563503916877087755 .tablet\:gp-rotate-0,.gps-563503916877087755 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-563503916877087755 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-563503916877087755 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-563503916877087755 .tablet\:gp-flex-row{flex-direction:row}.gps-563503916877087755 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-563503916877087755 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-563503916877087755 .mobile\:gp-static{position:static}.gps-563503916877087755 .mobile\:\!gp-absolute{position:absolute!important}.gps-563503916877087755 .mobile\:gp-left-0{left:0}.gps-563503916877087755 .mobile\:gp-right-0{right:0}.gps-563503916877087755 .mobile\:gp-z-2{z-index:2}.gps-563503916877087755 .mobile\:gp-block{display:block}.gps-563503916877087755 .mobile\:\!gp-flex{display:flex!important}.gps-563503916877087755 .mobile\:\!gp-hidden{display:none!important}.gps-563503916877087755 .mobile\:gp-hidden{display:none}.gps-563503916877087755 .mobile\:gp-h-auto{height:auto}.gps-563503916877087755 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-563503916877087755 .mobile\:gp-flex-none{flex:none}.gps-563503916877087755 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-563503916877087755 .mobile\:gp-rotate-0,.gps-563503916877087755 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-563503916877087755 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-563503916877087755 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-563503916877087755 .mobile\:gp-flex-row{flex-direction:row}.gps-563503916877087755 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-563503916877087755 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-563503916877087755 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-563503916877087755 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-563503916877087755 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-563503916877087755 .\[\&\>svg\]\:gp-w-full>svg{width:100%}@media (max-width:1024px){.gps-563503916877087755 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-563503916877087755 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-563503916877087755 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-563503916877087755 .\[\&_p\]\:gp-inline p{display:inline}.gps-563503916877087755 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-563503916877087755 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gjcElnPbIn" data-id="gjcElnPbIn"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--mt-mobile:5px;--pt-mobile:20px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgc-mobile:#FCFAF7;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gjcElnPbIn gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gq4gOGqXHm gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gNTxPZ0faw" data-id="gNTxPZ0faw"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNTxPZ0faw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="go-IAVyEhN gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gfvQtLdn6N" data-id="gfvQtLdn6N"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-s);--mb-mobile:0px;--cg:16px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gfvQtLdn6N gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:center;--o:0"
      class="glEyfjVjex gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb-mobile:0px;--ta:left;--ta-mobile:center"
      class="gp-leading-[0] gas5WPayBW"
    >
      <div 
      data-id="gas5WPayBW"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-brand, brand);--t:rotate(0deg);--w:32px;--h:32px;--minw:32px;--height-desktop:32px;--height-tablet:32px;--height-mobile:32px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-brand"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 0C186.528 0 177.792 0.32 150.496 1.536 123.2 2.816 104.608 7.104 88.32 13.44a125.344 125.344 0 0 0 -45.344 29.536A125.664 125.664 0 0 0 13.44 88.32C7.104 104.576 2.784 123.2 1.536 150.4 0.32 177.76 0 186.464 0 256.032c0 69.504 0.32 78.208 1.536 105.504 1.28 27.264 5.568 45.856 11.904 62.144 6.56 16.832 15.296 31.104 29.536 45.344 14.208 14.24 28.48 23.008 45.312 29.536 16.32 6.336 34.88 10.656 62.144 11.904C177.76 511.68 186.464 512 256 512s78.208 -0.32 105.536 -1.536c27.232 -1.28 45.888 -5.568 62.176 -11.904a125.312 125.312 0 0 0 45.312 -29.536c14.24 -14.24 22.976 -28.512 29.536 -45.344 6.304 -16.288 10.624 -34.88 11.904 -62.144C511.68 334.24 512 325.536 512 256s-0.32 -78.24 -1.536 -105.568c-1.28 -27.232 -5.6 -45.856 -11.904 -62.112a125.632 125.632 0 0 0 -29.536 -45.344A125.152 125.152 0 0 0 423.68 13.44c-16.32 -6.336 -34.944 -10.656 -62.176 -11.904C334.176 0.32 325.504 0 255.936 0h0.096zm-22.944 46.144h22.976c68.352 0 76.448 0.224 103.424 1.472 24.96 1.12 38.528 5.312 47.552 8.8 11.936 4.64 20.48 10.208 29.44 19.168 8.96 8.96 14.496 17.472 19.136 29.44 3.52 8.992 7.68 22.56 8.8 47.52 1.248 26.976 1.504 35.072 1.504 103.392s-0.256 76.448 -1.504 103.424c-1.12 24.96 -5.312 38.496 -8.8 47.52a79.04 79.04 0 0 1 -19.168 29.408c-8.96 8.96 -17.472 14.496 -29.44 19.136 -8.96 3.52 -22.528 7.68 -47.52 8.832 -26.976 1.216 -35.072 1.504 -103.424 1.504s-76.48 -0.288 -103.456 -1.504c-24.96 -1.152 -38.496 -5.312 -47.52 -8.832a79.296 79.296 0 0 1 -29.44 -19.136 79.36 79.36 0 0 1 -19.2 -29.44c-3.488 -8.992 -7.68 -22.56 -8.8 -47.52 -1.216 -26.976 -1.472 -35.072 -1.472 -103.456 0 -68.352 0.256 -76.416 1.472 -103.392 1.152 -24.96 5.312 -38.528 8.832 -47.552 4.64 -11.936 10.208 -20.48 19.168 -29.44 8.96 -8.96 17.472 -14.496 29.44 -19.136 9.024 -3.52 22.56 -7.68 47.52 -8.832 23.616 -1.088 32.768 -1.408 80.48 -1.44v0.064zm159.616 42.496a30.72 30.72 0 1 0 0 61.44 30.72 30.72 0 0 0 0 -61.44zm-136.64 35.904a131.488 131.488 0 1 0 0 262.944 131.488 131.488 0 0 0 0 -262.944zm0 46.112a85.344 85.344 0 1 1 0 170.688 85.344 85.344 0 0 1 0 -170.688z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g_YEoDRkN8 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g_QNMzrHLC">
    <div
      parentTag="Col"
        class="g_QNMzrHLC "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;--radius:var(--g-radius-small);overflow:hidden"
        >{{ section.settings.gg_QNMzrHLC_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="grSSjs03nL" data-id="grSSjs03nL"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="grSSjs03nL gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gqhb9l5hIh gp-relative gp-flex gp-flex-col"
    >
      
    <gp-carousel data-id="g2n3bEZY6L"  id="gp-root-carousel-g2n3bEZY6L-{{section.id}}" class="  gp-group/carousel gp-flex" gp-data='{"id":"g2n3bEZY6L-{{section.id}}","setting":{"animationMode":"ease-in","arrowBackgroundColor":"transparent","arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"height":"32px","padding":{"linked":true},"shapeLinked":true,"shapeValue":"1/1","width":"32px"},"mobile":{"customShapeValue":"","gap":"","height":"40px","padding":{"bottom":"0px","left":"0px","linked":true,"right":"0px","top":"0px","type":"custom"},"shape":"","shapeLinked":true,"shapeValue":"1/1","width":"40px"}},"arrowCustom":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817606069977448\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M128,26A102,102,0,1,0,230,128,102.12,102.12,0,0,0,128,26Zm0,192a90,90,0,1,1,90-90A90.1,90.1,0,0,1,128,218Zm44.24-94.24a6,6,0,0,1,0,8.48l-32,32a6,6,0,0,1-8.48-8.48L153.51,134H88a6,6,0,0,1,0-12h65.51l-21.75-21.76a6,6,0,0,1,8.48-8.48Z\" /></svg>","arrowCustomColor":"#fcfaf7","arrowGapToEachSide":"16","arrowIconSize":{"desktop":24,"mobile":30},"autoplay":false,"autoplayTimeout":2,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["Slide 1","Slide 2","Slide 3","Slide 4","Slide 5","Slide 6"],"controlOverContent":{"desktop":true},"dot":{"desktop":true,"mobile":true,"tablet":true},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"dotGapToCarousel":{"desktop":16},"dotSize":{"desktop":12},"dotStyle":{"desktop":"none"},"enableDrag":{"desktop":true},"itemNumber":{"desktop":5,"mobile":2,"tablet":3},"label":true,"loop":{"desktop":false},"navigationStyle":{"desktop":"none","mobile":"inside"},"pauseOnHover":true,"roundedArrow":{"desktop":{"radiusType":"small"},"mobile":{"bblr":"1px","bbrr":"1px","btlr":"1px","btrr":"1px","radiusType":"custom"}},"rtl":false,"runPreview":false,"showWhenHover":false,"sneakPeak":{"desktop":false,"mobile":true},"sneakPeakOffsetCenter":{"desktop":50,"mobile":90},"sneakPeakOffsetForward":{"desktop":50,"mobile":10},"sneakPeakType":{"desktop":"forward","mobile":"forward"},"vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"playSpeed":500,"sizeSetting":{"desktop":{"height":"auto","width":"100%"},"mobile":{"height":"auto","width":"100%"},"tablet":{"height":"auto","width":"100%"}},"spacing":{"desktop":"8","mobile":"8"}},"isHiddenArrowWhenDisabled":true}' style="--jc:center">
      <div class="gp-hidden gp-aspect-square gp-w-[12px] gp-rounded-full gp-shadow-md"></div>
      <div
        
        class="gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block g2n3bEZY6L"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-s);--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      >
        <div
          class="gp-h-full gp-relative gp-mx-auto gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row"
          style="--h:100%;--h-tablet:100%;--h-mobile:100%;gap:16px"
        >
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-z-1 gp-carousel-action-back gem-slider-previous g2n3bEZY6L-{{section.id}} gp-carousel-arrow-g2n3bEZY6L gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2"
      style="--left:initial;--top:initial;--right:initial;--bottom:;--left-tablet:initial;--top-tablet:initial;--right-tablet:initial;--bottom-tablet:;--left-mobile:16px;--top-mobile:initial;--right-mobile:initial;--bottom-mobile:;--d:none;--d-tablet:none;--d-mobile:flex;background-color:transparent;--w:32px;--w-mobile:40px;--h:32px;--h-mobile:40px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
  style="--c:#fcfaf7;--w:24px;--w-tablet:24px;--w-mobile:30px;--h:24px;--h-tablet:24px;--h-mobile:30px"
  >
    <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817606069977448">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,26A102,102,0,1,0,230,128,102.12,102.12,0,0,0,128,26Zm0,192a90,90,0,1,1,90-90A90.1,90.1,0,0,1,128,218Zm44.24-94.24a6,6,0,0,1,0,8.48l-32,32a6,6,0,0,1-8.48-8.48L153.51,134H88a6,6,0,0,1,0-12h65.51l-21.75-21.76a6,6,0,0,1,8.48-8.48Z" /></svg>
    </div>
      <style>
    .gp-carousel-arrow-g2n3bEZY6L {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-g2n3bEZY6L::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      .gp-carousel-arrow-g2n3bEZY6L {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-g2n3bEZY6L::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-g2n3bEZY6L {
        
      border-bottom-left-radius: 1px;
      border-bottom-right-radius: 1px;
      border-top-left-radius: 1px;
      border-top-right-radius: 1px;
      
      }
      .gp-carousel-arrow-g2n3bEZY6L::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        
      border-bottom-left-radius: 1px;
      border-bottom-right-radius: 1px;
      border-top-left-radius: 1px;
      border-top-right-radius: 1px;
      
      }
    }
  </style>
    </button>
  
          <div id="gp-carousel-g2n3bEZY6L-{{section.id}}" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full"
          style="--cg-mobile:8px;--cg-tablet:8px;--cg:8px">
          
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 5 - 6.4px);--minw-tablet:calc(100% / 3 - 5.333333333333333px);--minw-mobile:calc(100% / 1.9 - 3.789473684210526px);--maxw:calc(100% / 5 - 6.4px);--maxw-tablet:calc(100% / 3 - 5.333333333333333px);--maxw-mobile:calc(100% / 1.9 - 3.789473684210526px);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-g2n3bEZY6L gTUiZSSaXS"
      data-index="0"
    >
      <div
        class="gp-w-full gp-h-full",
        
      >
      <div
    
     data-id="gs1CaQBth2"
    role="presentation"
    class="gp-group/image gs1CaQBth2 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_560307868822144090-5cf64c23-804d-445b-a8a9-0af84d2f6639.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDc0IiBoZWlnaHQ9IjQ3NCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDc0LTQ3NCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDc0IiBoZWlnaHQ9IjQ3NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDc0IiBoZWlnaHQ9IjQ3NCIgZmlsbD0idXJsKCNnLTQ3NC00NzQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00NzQiIHRvPSI0NzQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/a893c23b-3b35-43c8-a780-2bd54c7110a0/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIyNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjI2LTIyNiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIyNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIyNiIgZmlsbD0idXJsKCNnLTIyNi0yMjYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMjYiIHRvPSIyMjYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIyNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjI2LTIyNiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIyNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIyNiIgZmlsbD0idXJsKCNnLTIyNi0yMjYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMjYiIHRvPSIyMjYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="https://ucarecdn.com/a893c23b-3b35-43c8-a780-2bd54c7110a0/-/format/auto/"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-mobile:1/1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 5 - 6.4px);--minw-tablet:calc(100% / 3 - 5.333333333333333px);--minw-mobile:calc(100% / 1.9 - 3.789473684210526px);--maxw:calc(100% / 5 - 6.4px);--maxw-tablet:calc(100% / 3 - 5.333333333333333px);--maxw-mobile:calc(100% / 1.9 - 3.789473684210526px);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-g2n3bEZY6L gVr5rikOd_"
      data-index="1"
    >
      <div
        class="gp-w-full gp-h-full",
        
      >
      <div
    
     data-id="gMsoEGwa_2"
    role="presentation"
    class="gp-group/image gMsoEGwa_2 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_560307868822144090-c796ba92-086c-4fd8-9bdd-b4564aed0693.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjg0IiBoZWlnaHQ9IjY4NCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjg0LTY4NCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjg0IiBoZWlnaHQ9IjY4NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjg0IiBoZWlnaHQ9IjY4NCIgZmlsbD0idXJsKCNnLTY4NC02ODQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02ODQiIHRvPSI2ODQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/ea78fa8c-6a52-46bc-a9d2-a390272a0ed8/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIyNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjI2LTIyNiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIyNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIyNiIgZmlsbD0idXJsKCNnLTIyNi0yMjYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMjYiIHRvPSIyMjYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIyNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjI2LTIyNiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIyNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIyNiIgZmlsbD0idXJsKCNnLTIyNi0yMjYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMjYiIHRvPSIyMjYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="https://ucarecdn.com/ea78fa8c-6a52-46bc-a9d2-a390272a0ed8/-/format/auto/"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-mobile:1/1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:226px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 5 - 6.4px);--minw-tablet:calc(100% / 3 - 5.333333333333333px);--minw-mobile:calc(100% / 1.9 - 3.789473684210526px);--maxw:calc(100% / 5 - 6.4px);--maxw-tablet:calc(100% / 3 - 5.333333333333333px);--maxw-mobile:calc(100% / 1.9 - 3.789473684210526px);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-g2n3bEZY6L g3cHf47XlP"
      data-index="2"
    >
      <div
        class="gp-w-full gp-h-full",
        
      >
      <div
    
     data-id="gqD-Yb-CfD"
    role="presentation"
    class="gp-group/image gqD-Yb-CfD gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_560307868822144090-5bf4ca1b-e609-4659-9eda-578c4bf9e988.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDc0IiBoZWlnaHQ9IjQ3NCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDc0LTQ3NCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDc0IiBoZWlnaHQ9IjQ3NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDc0IiBoZWlnaHQ9IjQ3NCIgZmlsbD0idXJsKCNnLTQ3NC00NzQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00NzQiIHRvPSI0NzQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/57d4e384-6682-437f-8b0b-60d08e9cf9a5/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIyNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjI2LTIyNiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIyNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIyNiIgZmlsbD0idXJsKCNnLTIyNi0yMjYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMjYiIHRvPSIyMjYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIyNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjI2LTIyNiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIyNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIyNiIgZmlsbD0idXJsKCNnLTIyNi0yMjYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMjYiIHRvPSIyMjYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="https://ucarecdn.com/57d4e384-6682-437f-8b0b-60d08e9cf9a5/-/format/auto/"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-mobile:1/1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:226px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 5 - 6.4px);--minw-tablet:calc(100% / 3 - 5.333333333333333px);--minw-mobile:calc(100% / 1.9 - 3.789473684210526px);--maxw:calc(100% / 5 - 6.4px);--maxw-tablet:calc(100% / 3 - 5.333333333333333px);--maxw-mobile:calc(100% / 1.9 - 3.789473684210526px);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-g2n3bEZY6L g-AWk5-fOC"
      data-index="3"
    >
      <div
        class="gp-w-full gp-h-full",
        
      >
      <div
    
     data-id="gzZB_mvUdg"
    role="presentation"
    class="gp-group/image gzZB_mvUdg gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_560307868822144090-e14bf06b-01ba-4bb2-a8f2-78633903385c.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDc0IiBoZWlnaHQ9IjQ3NCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDc0LTQ3NCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDc0IiBoZWlnaHQ9IjQ3NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDc0IiBoZWlnaHQ9IjQ3NCIgZmlsbD0idXJsKCNnLTQ3NC00NzQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00NzQiIHRvPSI0NzQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/65533c3a-de70-439b-abe6-775e4f8f4358/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIyNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjI2LTIyNiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIyNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIyNiIgZmlsbD0idXJsKCNnLTIyNi0yMjYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMjYiIHRvPSIyMjYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIyNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjI2LTIyNiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIyNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIyNiIgZmlsbD0idXJsKCNnLTIyNi0yMjYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMjYiIHRvPSIyMjYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="https://ucarecdn.com/65533c3a-de70-439b-abe6-775e4f8f4358/-/format/auto/"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-mobile:1/1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:226px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 5 - 6.4px);--minw-tablet:calc(100% / 3 - 5.333333333333333px);--minw-mobile:calc(100% / 1.9 - 3.789473684210526px);--maxw:calc(100% / 5 - 6.4px);--maxw-tablet:calc(100% / 3 - 5.333333333333333px);--maxw-mobile:calc(100% / 1.9 - 3.789473684210526px);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-g2n3bEZY6L gmFSy-LJIs"
      data-index="4"
    >
      <div
        class="gp-w-full gp-h-full",
        
      >
      <div
    
     data-id="gswEY6sQ-b"
    role="presentation"
    class="gp-group/image gswEY6sQ-b gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_560307868822144090-a7063423-7e9e-422d-8a4b-ffe4b51743ea.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDc0IiBoZWlnaHQ9IjQ3NCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDc0LTQ3NCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDc0IiBoZWlnaHQ9IjQ3NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDc0IiBoZWlnaHQ9IjQ3NCIgZmlsbD0idXJsKCNnLTQ3NC00NzQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00NzQiIHRvPSI0NzQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/07c9deee-d19d-41a3-bdb6-61f451639752/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIyNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjI2LTIyNiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIyNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIyNiIgZmlsbD0idXJsKCNnLTIyNi0yMjYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMjYiIHRvPSIyMjYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIyNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjI2LTIyNiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIyNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIyNiIgZmlsbD0idXJsKCNnLTIyNi0yMjYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMjYiIHRvPSIyMjYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="https://ucarecdn.com/07c9deee-d19d-41a3-bdb6-61f451639752/-/format/auto/"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-mobile:1/1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:226px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 5 - 6.4px);--minw-tablet:calc(100% / 3 - 5.333333333333333px);--minw-mobile:calc(100% / 1.9 - 3.789473684210526px);--maxw:calc(100% / 5 - 6.4px);--maxw-tablet:calc(100% / 3 - 5.333333333333333px);--maxw-mobile:calc(100% / 1.9 - 3.789473684210526px);--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-g2n3bEZY6L guD4fk5NvV"
      data-index="5"
    >
      <div
        class="gp-w-full gp-h-full",
        
      >
      
      </div>
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-z-1 gp-carousel-action-next gem-slider-next g2n3bEZY6L-{{section.id}} gp-carousel-arrow-g2n3bEZY6L gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2"
      style="--left:initial;--top:;--right:initial;--bottom:initial;--left-tablet:initial;--top-tablet:;--right-tablet:initial;--bottom-tablet:initial;--left-mobile:initial;--top-mobile:;--right-mobile:16px;--bottom-mobile:initial;--d:none;--d-tablet:none;--d-mobile:flex;background-color:transparent;--w:32px;--w-mobile:40px;--h:32px;--h-mobile:40px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
  style="--c:#fcfaf7;--w:24px;--w-tablet:24px;--w-mobile:30px;--h:24px;--h-tablet:24px;--h-mobile:30px"
  >
    <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817606069977448">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,26A102,102,0,1,0,230,128,102.12,102.12,0,0,0,128,26Zm0,192a90,90,0,1,1,90-90A90.1,90.1,0,0,1,128,218Zm44.24-94.24a6,6,0,0,1,0,8.48l-32,32a6,6,0,0,1-8.48-8.48L153.51,134H88a6,6,0,0,1,0-12h65.51l-21.75-21.76a6,6,0,0,1,8.48-8.48Z" /></svg>
    </div>
      <style>
    .gp-carousel-arrow-g2n3bEZY6L {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-g2n3bEZY6L::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      .gp-carousel-arrow-g2n3bEZY6L {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-g2n3bEZY6L::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-g2n3bEZY6L {
        
      border-bottom-left-radius: 1px;
      border-bottom-right-radius: 1px;
      border-top-left-radius: 1px;
      border-top-right-radius: 1px;
      
      }
      .gp-carousel-arrow-g2n3bEZY6L::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        
      border-bottom-left-radius: 1px;
      border-bottom-right-radius: 1px;
      border-top-left-radius: 1px;
      border-top-right-radius: 1px;
      
      }
    }
  </style>
    </button>
  
        </div>
        <div
    class="gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-carousel-dot-container gp-carousel-dot-container-g2n3bEZY6L-{{section.id}} gp-static gp-flex-row gp-left-0 gp-right-0 tablet:gp-static tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-static mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0"
    style="--bottom:16px;--bottom-tablet:16px;--bottom-mobile:16px;--d:none;--d-tablet:none;--d-mobile:none"
 ></div>
      </div>
    </gp-carousel>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-carousel-v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-563503916877087755 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ipwhmw-sc/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=560310848304710437&sectionId=563503916877087755)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg_QNMzrHLC_text","label":"gg_QNMzrHLC_text","default":"#ON INSTAGRAM"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
