

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-563608848867263653.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-563608848867263653.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-563608848867263653.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-563608848867263653.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-563608848867263653.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-563608848867263653.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-563608848867263653.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-563608848867263653.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-563608848867263653.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-563608848867263653.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-563608848867263653.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-563608848867263653.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-563608848867263653.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-563608848867263653.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-563608848867263653.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-563608848867263653.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-563608848867263653.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-563608848867263653.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-563608848867263653.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-563608848867263653.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-563608848867263653.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-563608848867263653.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-563608848867263653.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-563608848867263653.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-563608848867263653.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-563608848867263653.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-563608848867263653.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-563608848867263653.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-563608848867263653.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-563608848867263653.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-563608848867263653.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-563608848867263653.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-563608848867263653.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-563608848867263653.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-563608848867263653.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-563608848867263653.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-563608848867263653.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-563608848867263653.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-563608848867263653.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-563608848867263653.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-563608848867263653.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-563608848867263653.gps.gpsil [style*="--tdc:"]{text-decoration-color:var(--tdc)}.gps-563608848867263653.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-563608848867263653.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-563608848867263653.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-563608848867263653.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-563608848867263653.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-563608848867263653.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-563608848867263653.gps.gpsil [style*="--hvr-op:"]:hover{opacity:var(--hvr-op)}.gps-563608848867263653.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-563608848867263653.gps.gpsil [style*="--hvr-o:"]:hover{order:var(--hvr-o)}.gps-563608848867263653.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-563608848867263653.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-563608848867263653.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-563608848867263653.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-563608848867263653.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-563608848867263653.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-563608848867263653.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-563608848867263653.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-563608848867263653.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-563608848867263653.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-563608848867263653.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-563608848867263653.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-563608848867263653.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-563608848867263653.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-563608848867263653.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-563608848867263653.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-563608848867263653.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-563608848867263653.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-563608848867263653.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-563608848867263653.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-563608848867263653.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-563608848867263653.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-563608848867263653.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-563608848867263653.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-563608848867263653.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-563608848867263653.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-563608848867263653.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-563608848867263653.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-563608848867263653.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-563608848867263653.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-563608848867263653.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-563608848867263653.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-563608848867263653.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-563608848867263653.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-563608848867263653.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-563608848867263653.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-563608848867263653.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-563608848867263653 .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-563608848867263653 .gp-invisible{visibility:hidden}.gps-563608848867263653 .gp-absolute{position:absolute}.gps-563608848867263653 .gp-relative{position:relative}.gps-563608848867263653 .gp-inset-0{inset:0}.gps-563608848867263653 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-563608848867263653 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-563608848867263653 .gp-z-1{z-index:1}.gps-563608848867263653 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-563608848867263653 .gp-mb-0{margin-bottom:0}.gps-563608848867263653 .gp-flex{display:flex}.gps-563608848867263653 .gp-inline-flex{display:inline-flex}.gps-563608848867263653 .gp-grid{display:grid}.gps-563608848867263653 .\!gp-hidden{display:none!important}.gps-563608848867263653 .gp-hidden{display:none}.gps-563608848867263653 .gp-h-5{height:20px}.gps-563608848867263653 .gp-h-full{height:100%}.gps-563608848867263653 .gp-w-5{width:20px}.gps-563608848867263653 .gp-w-full{width:100%}.gps-563608848867263653 .gp-max-w-full{max-width:100%}.gps-563608848867263653 .gp-shrink-0{flex-shrink:0}.gps-563608848867263653 .gp-cursor-default{cursor:default}.gps-563608848867263653 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-563608848867263653 .gp-flex-col{flex-direction:column}.gps-563608848867263653 .gp-items-center{align-items:center}.gps-563608848867263653 .gp-justify-end{justify-content:flex-end}.gps-563608848867263653 .gp-justify-center{justify-content:center}.gps-563608848867263653 .gp-self-center{align-self:center}.gps-563608848867263653 .gp-overflow-hidden{overflow:hidden}.gps-563608848867263653 .gp-break-words{overflow-wrap:break-word}.gps-563608848867263653 .gp-text-center{text-align:center}.gps-563608848867263653 .gp-text-g-bg-3{color:var(--g-c-bg-3)}.gps-563608848867263653 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-563608848867263653 .gp-no-underline{text-decoration-line:none}.gps-563608848867263653 .gp-decoration-g-bg-3{text-decoration-color:var(--g-c-bg-3)}.gps-563608848867263653 .gp-opacity-25{opacity:.25}.gps-563608848867263653 .gp-opacity-30{opacity:.3}.gps-563608848867263653 .gp-opacity-75{opacity:.75}.gps-563608848867263653 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-563608848867263653 .gp-transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-563608848867263653 .gp-duration-200{transition-duration:.2s}.gps-563608848867263653 .gp-duration-\[var\(--duration\)\]{transition-duration:var(--duration)}.gps-563608848867263653 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-563608848867263653 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-563608848867263653 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-563608848867263653 .gp-group\/hero:hover .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-scale-x:var(--scale);--tw-scale-y:var(--scale);transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-563608848867263653 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-563608848867263653 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-563608848867263653 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-563608848867263653 .data-\[hidden\=true\]\:gp-hidden[data-hidden=true]{display:none}.gps-563608848867263653 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-563608848867263653 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-563608848867263653 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1024px){.gps-563608848867263653 .tablet\:\!gp-relative{position:relative!important}.gps-563608848867263653 .tablet\:\!gp-hidden{display:none!important}.gps-563608848867263653 .tablet\:gp-hidden{display:none}.gps-563608848867263653 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-563608848867263653 .tablet\:gp-justify-end{justify-content:flex-end}}@media (max-width:767px){.gps-563608848867263653 .mobile\:\!gp-relative{position:relative!important}.gps-563608848867263653 .mobile\:\!gp-hidden{display:none!important}.gps-563608848867263653 .mobile\:gp-hidden{display:none}.gps-563608848867263653 .mobile\:\!gp-h-auto{height:auto!important}.gps-563608848867263653 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-563608848867263653 .mobile\:gp-justify-end{justify-content:flex-end}}@media (max-width:1024px){.gps-563608848867263653 .tablet\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}@media (max-width:767px){.gps-563608848867263653 .mobile\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}.gps-563608848867263653 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-563608848867263653 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-563608848867263653 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-563608848867263653 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-563608848867263653 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-563608848867263653 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>


    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gWYUzq_5e6"}' data-id="gWYUzq_5e6" id="gWYUzq_5e6" data-same-height-subgrid-container class="gWYUzq_5e6 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:auto;--pl:15px;--pb:auto;--pr:15px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gcMlIrx1j- gp-relative gp-flex gp-flex-col"
    >
      
    
      {%- assign gpBkProduct = product -%}
      
      {%- liquid
        if request.page_type == 'product'
          if 'static' == 'static'
            if 'latest' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at' | reverse | first
              endpaginate
            else
              assign product = all_products['']
              assign productId = 'latest' | times: 1
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products
                    if item.id == productId
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        else
          if 'latest' == 'latest'
            paginate collections.all.products by 100000
              assign product = collections.all.products | sort: 'created_at'| reverse | first
            endpaginate
          else
            assign product = all_products['']
            assign productId = 'latest' | times: 1
            if product == empty or product == null
              paginate collections.all.products by 100000
                for item in collections.all.products
                  if item.id == productId
                    assign product = item
                  endif
                endfor
              endpaginate
            endif
          endif
        endif
      -%}
    
    
    {% if product != empty and product != null %}
      
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "gjcXXHulsE" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
    
      <gp-product
        data-uid="gjcXXHulsE"
        data-id="gjcXXHulsE"
        
        
        gp-context='{"productId": {{ product.id }}, "preSelectedOptionIds": [], "isSyncProduct": "", "variantSelected": {{ variant | json | escape }},  "inventory_management": {{ variant.inventory_management | json | escape  }}, "inventory_policy": {{ variant.inventory_policy | json | escape }}, "inventoryQuantity": {{ variant.inventory_quantity }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "productUrl":{{ product.url | json | escape }}, "productHandle":{{ product.handle | json | escape }}, "collectionUrl": {{ collection.url | json | escape }}, "collectionHandle": {{ collection.handle | json | escape }}}'
      >
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
    

    

    
    <gp-row gp-data='{"uid":"gjcXXHulsE"}' data-id="gjcXXHulsE-row" id="gjcXXHulsE" data-same-height-subgrid-container class="gjcXXHulsE gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:30px;--rg:0px;--gtc:minmax(0, 12fr);--w:1000px;--w-tablet:100%;--w-mobile:100%;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g_XMUvscv4 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gY53BvzfxT"
        class="gY53BvzfxT"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754920239553"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--c:#131313;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:32px;--size-tablet:32px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggY53BvzfxT_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
      <gp-hero-banner
        
        data-id="gsjEW0sDNT"
        class="gsjEW0sDNT gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:534px;--h-tablet:534px;--h-mobile:223px"
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"height":1561,"src":"https://ucarecdn.com/d7552524-e567-432a-9958-13301bbb2fd7/-/format/auto/-/preview/3000x3000/-/quality/lighter/","width":3000},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"height":1561,"src":"https://ucarecdn.com/d7552524-e567-432a-9958-13301bbb2fd7/-/format/auto/-/preview/3000x3000/-/quality/lighter/","width":3000},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"height":1561,"src":"https://ucarecdn.com/d7552524-e567-432a-9958-13301bbb2fd7/-/format/auto/-/preview/3000x3000/-/quality/lighter/","width":3000},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"}},"uid":"gsjEW0sDNT","enableParallax":false,"speedParallax":0,"hoverEffect":true,"hoverEffectScale":"100%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"bottom"},"target":"_self","href":"","linkType":""}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-end tablet:gp-justify-end mobile:gp-justify-end" style="--h:534px;--h-tablet:534px;--h-mobile:223px;--bgc:var(--g-c-bg-2)">
      <div
        aria-label="Background Image"
        role="banner"
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0 0 0)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform" style="--bgi:url(https://ucarecdn.com/d7552524-e567-432a-9958-13301bbb2fd7/-/format/auto/-/preview/3000x3000/-/quality/lighter/);--bgi-tablet:url(https://ucarecdn.com/d7552524-e567-432a-9958-13301bbb2fd7/-/format/auto/-/preview/3000x3000/-/quality/lighter/);--bgi-mobile:url(https://ucarecdn.com/d7552524-e567-432a-9958-13301bbb2fd7/-/format/auto/-/preview/3000x3000/-/quality/lighter/);--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0s;--scale:100%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transition:transform 300ms cubic-bezier(0,0,0,1)">
          
          
        </div>
        <div aria-label="Overlay" role="banner" class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-z-1 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]" style="--hvr-bgc:#121212;--hvr-op:0%;--top:0;--left:0"> </div>
      </div>
      
    

    

    
    <gp-row gp-data='{}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row tablet:!gp-relative mobile:!gp-relative  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--pc:end;--pc-tablet:end;--pc-mobile:end">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="giJjG3qcuw gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gbGmJX6ov2"}' data-id="gbGmJX6ov2" id="gbGmJX6ov2" data-same-height-subgrid-container class="gbGmJX6ov2 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:auto;--cg:1px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 4fr) minmax(0, 8fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gH66UqEmtM gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#ABBA69","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gOLVanbG5u"}' data-id="gOLVanbG5u" id="gOLVanbG5u" data-same-height-subgrid-container class="gOLVanbG5u gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:auto;--pt:11px;--pl:21px;--pb:12px;--pr:21px;--pt-mobile:12px;--pl-mobile:21px;--pb-mobile:12px;--pr-mobile:21px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#ABBA69;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gAfkEBKYYg gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        id="shopify-text-element-gzgJF5ySuX" data-id="gzgJF5ySuX"
        class="gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:gp-hidden gzgJF5ySuX"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px"
        gp-data='{"priceType":"regular","uid":"gzgJF5ySuX","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
      >
        
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div id="p-price-gzgJF5ySuX" data-id
        
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754920239593"
      >
      <div  >
        <div
          data-gp-text
          class="gp-price gp-money gp-decoration-g-bg-3 gp-text-g-bg-3 gp-text-instant"
          style="--w:100%;--tdc:var(--g-c-bg-3, bg-3);--tdt:1px;--ta:left;--ta-mobile:center;--c:var(--g-c-bg-3, bg-3);--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:24px;--size-tablet:24px;--size-mobile:21px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          
     {% if variant.price %}
       {{ variant.price | money}}
     {% endif %}
   
        </div>
      </div>
    </div>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-price-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g-0OtwBKOs gp-relative gp-flex gp-flex-col"
    >
      
    {%- liquid
      assign inventory_quantity = variant.inventory_quantity | default: 0
      assign is_in_stock = variant.available
    -%}
    <gp-product-button
      
      gp-data-wrapper="true"
      gp-href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/cart"
      class="gp-product-button"
      gp-label-out-of-stock="{{ section.settings.gg03duz1p8E_outOfStockLabel }}"
      gp-label-unavailable="{{ section.settings.gg03duz1p8E_unavailableLabel }}"
      gp-data='{"styles":{"errorTypo":{"attrs":{"color":"error"},"type":"paragraph-2"},"successTypo":{"attrs":{"color":"success"},"type":"paragraph-2"}},"setting":{"errorType":"built-in","actionEffect":"open-cart-drawer","enableMessage":true,"label":"Get it now","errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","outOfStockLabel":"Out of stocks","customURL":{"link":"/cart","target":"_self"}},"variantID":"{{variant.id}}","disabled":"{{variant.available}}","totalVariant":"{{total_combinations}}"}'
      data-variant-selection-required-message=""
    >
      
    <gp-button
      gp-data='{}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:auto;--ta:left" class="{% unless variant.available %} !gp-hidden {% endunless %}">
        <style>[data-id="g03duz1p8E"].gp-button-base::before, [data-id="g03duz1p8E-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
    
      
      
      
      
      
  
    }
  
      
  [data-id="g03duz1p8E"]:hover::before, [data-id="g03duz1p8E-interaction"]:hover::before {
    border-style: none;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
    
  }</style>
        
        <button
          data-id="g03duz1p8E" dataId="g03duz1p8E" data-state="idle" aria-label="Get it now"
          name="add" gp-data-hidden="{% unless variant.available %}true{% endunless %}"
          type="submit"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:21px;--pr:21px;--pt:15px;--pb:15px;--pl-tablet:21px;--pr-tablet:21px;--pt-tablet:15px;--pb-tablet:15px;--pl-mobile:21px;--pr-mobile:21px;--pt-mobile:15px;--pb-mobile:15px;--bgi:;--hvr-bgi:;--hvr-bg:#ABBA69;--bg:#FF538B;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:18px;--size-tablet:18px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
          class="gp-button-atc tcustomizer-submit-button g03duz1p8E gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3  undefined"
        >
        
  <svg
    class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
  >
    <circle
      class="gp-opacity-25"
      cx="12"
      cy="12"
      r="10"
      stroke="currentColor"
      stroke-width="4"
    ></circle>
    <path
      class="gp-opacity-75"
      fill="currentColor"
      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
    ></path>
  </svg>

        <div class="gp-inline-flex">
          
    <span
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:18px;--size-tablet:18px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg style="width: 100%; height: 100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.5625 19.6875C9.5625 19.8958 9.66667 20 9.875 20H25.3125V22.6875H9.3125C8.60417 22.6875 7.97917 22.4167 7.4375 21.875C6.9375 21.3333 6.6875 20.7083 6.6875 20C6.6875 19.5833 6.79167 19.1667 7 18.75L8.8125 15.4375L4 5.3125H1.3125V2.6875H5.6875C6.52083 4.4375 7.35417 6.20833 8.1875 8C8.39583 8.375 8.875 9.375 9.625 11C10.375 12.5833 10.9583 13.8125 11.375 14.6875H20.75C23.875 9.02083 25.5833 5.89583 25.875 5.3125L28.1875 6.625L23.0625 15.9375C22.5625 16.8542 21.7917 17.3125 20.75 17.3125H10.8125L9.625 19.5L9.5625 19.6875ZM20.8125 24.8125C21.3542 24.2708 21.9792 24 22.6875 24C23.3958 24 24 24.2708 24.5 24.8125C25.0417 25.3542 25.3125 25.9792 25.3125 26.6875C25.3125 27.3958 25.0417 28.0208 24.5 28.5625C24 29.0625 23.3958 29.3125 22.6875 29.3125C21.9792 29.3125 21.3542 29.0625 20.8125 28.5625C20.2708 28.0208 20 27.3958 20 26.6875C20 25.9792 20.2708 25.3542 20.8125 24.8125ZM7.4375 24.8125C7.97917 24.2708 8.60417 24 9.3125 24C10.0208 24 10.6458 24.2708 11.1875 24.8125C11.7292 25.3542 12 25.9792 12 26.6875C12 27.3958 11.7292 28.0208 11.1875 28.5625C10.6458 29.0625 10.0208 29.3125 9.3125 29.3125C8.60417 29.3125 7.97917 29.0625 7.4375 28.5625C6.9375 28.0208 6.6875 27.3958 6.6875 26.6875C6.6875 25.9792 6.9375 25.3542 7.4375 24.8125ZM14.6875 12V8H10.6875V5.3125H14.6875V1.3125H17.3125V5.3125H21.3125V8H17.3125V12H14.6875Z" fill="#D6D6D6"/></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:18px;--size-tablet:18px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg03duz1p8E_label }}
    </span>
        </div>
        
    
    
  
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      
    <gp-button
      gp-data='{}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:auto;--ta:left" class="{% if variant.available %} !gp-hidden {% endif %}">
        <style>[data-id="g03duz1p8E-sold-out"].gp-button-base::before, [data-id="g03duz1p8E-sold-out-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="g03duz1p8E-sold-out"]:hover::before, [data-id="g03duz1p8E-sold-out-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="g03duz1p8E-sold-out" dataId="g03duz1p8E-sold-out" data-state="idle" aria-label="{{ section.settings.gg03duz1p8E_outOfStockLabel }}"
          gp-data-hidden="{% if variant.available %}true{% endif %}"
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:21px;--pr:21px;--pt:15px;--pb:15px;--pl-tablet:21px;--pr-tablet:21px;--pt-tablet:15px;--pb-tablet:15px;--pl-mobile:21px;--pr-mobile:21px;--pt-mobile:15px;--pb-mobile:15px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--bgi:;--hvr-bgi:;--bg:#FF538B;--hvr-bg:#FF538B;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:18px;--size-tablet:18px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
          class="gp-cursor-default gp-opacity-30 btn-disabled gp-button-sold-out g03duz1p8E-sold-out gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
    <span
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:18px;--size-tablet:18px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg style="width: 100%; height: 100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.5625 19.6875C9.5625 19.8958 9.66667 20 9.875 20H25.3125V22.6875H9.3125C8.60417 22.6875 7.97917 22.4167 7.4375 21.875C6.9375 21.3333 6.6875 20.7083 6.6875 20C6.6875 19.5833 6.79167 19.1667 7 18.75L8.8125 15.4375L4 5.3125H1.3125V2.6875H5.6875C6.52083 4.4375 7.35417 6.20833 8.1875 8C8.39583 8.375 8.875 9.375 9.625 11C10.375 12.5833 10.9583 13.8125 11.375 14.6875H20.75C23.875 9.02083 25.5833 5.89583 25.875 5.3125L28.1875 6.625L23.0625 15.9375C22.5625 16.8542 21.7917 17.3125 20.75 17.3125H10.8125L9.625 19.5L9.5625 19.6875ZM20.8125 24.8125C21.3542 24.2708 21.9792 24 22.6875 24C23.3958 24 24 24.2708 24.5 24.8125C25.0417 25.3542 25.3125 25.9792 25.3125 26.6875C25.3125 27.3958 25.0417 28.0208 24.5 28.5625C24 29.0625 23.3958 29.3125 22.6875 29.3125C21.9792 29.3125 21.3542 29.0625 20.8125 28.5625C20.2708 28.0208 20 27.3958 20 26.6875C20 25.9792 20.2708 25.3542 20.8125 24.8125ZM7.4375 24.8125C7.97917 24.2708 8.60417 24 9.3125 24C10.0208 24 10.6458 24.2708 11.1875 24.8125C11.7292 25.3542 12 25.9792 12 26.6875C12 27.3958 11.7292 28.0208 11.1875 28.5625C10.6458 29.0625 10.0208 29.3125 9.3125 29.3125C8.60417 29.3125 7.97917 29.0625 7.4375 28.5625C6.9375 28.0208 6.6875 27.3958 6.6875 26.6875C6.6875 25.9792 6.9375 25.3542 7.4375 24.8125ZM14.6875 12V8H10.6875V5.3125H14.6875V1.3125H17.3125V5.3125H21.3125V8H17.3125V12H14.6875Z" fill="#D6D6D6"/></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:18px;--size-tablet:18px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg03duz1p8E_outOfStockLabel }}
    </span>
        </div>
        
    
    
  
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </gp-product-button>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full">
      
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/d7552524-e567-432a-9958-13301bbb2fd7/-/format/auto/-/preview/3000x3000/-/quality/lighter/" srcset="https://ucarecdn.com/d7552524-e567-432a-9958-13301bbb2fd7/-/format/auto/-/preview/3000x3000/-/quality/lighter/" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/d7552524-e567-432a-9958-13301bbb2fd7/-/format/auto/-/preview/3000x3000/-/quality/lighter/" srcset="https://ucarecdn.com/d7552524-e567-432a-9958-13301bbb2fd7/-/format/auto/-/preview/3000x3000/-/quality/lighter/" />
    
      
      <img
        loading="eager" fetchpriority="high" title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="https://ucarecdn.com/d7552524-e567-432a-9958-13301bbb2fd7/-/format/auto/-/preview/3000x3000/-/quality/lighter/" data-src="https://ucarecdn.com/d7552524-e567-432a-9958-13301bbb2fd7/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
        alt=""
        width="100%"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:534px;--h-tablet:534px;--h-mobile:223px;--w:100%;--w-tablet:100%;--w-mobile:100%;--z:-1"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
  
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ 'gempages.Product.product_not_found' | t }}</div>
    {% endif %}
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
        </section>
      
  


{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-563608848867263653 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ipwhmw-sc/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=563608773000692531&sectionId=563608848867263653)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggY53BvzfxT_text","label":"ggY53BvzfxT_text","default":"<p>Get <span style=\"color:#FF538B;\">$10</span> off immediately when purchasing the whole set!</p>"},{"type":"html","id":"gg03duz1p8E_label","label":"gg03duz1p8E_label","default":"Get it now"},{"type":"html","id":"gg03duz1p8E_outOfStockLabel","label":"gg03duz1p8E_outOfStockLabel","default":"Out of stocks"},{"type":"html","id":"gg03duz1p8E_unavailableLabel","label":"gg03duz1p8E_unavailableLabel","default":"Unavailable"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
