

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-561176747349902421.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-561176747349902421.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-561176747349902421.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-561176747349902421.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-561176747349902421.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-561176747349902421.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-561176747349902421.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-561176747349902421.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-561176747349902421.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-561176747349902421.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-561176747349902421.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-561176747349902421.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-561176747349902421.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-561176747349902421.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-561176747349902421.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-561176747349902421.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-561176747349902421.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-561176747349902421.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-561176747349902421.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-561176747349902421.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-561176747349902421.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-561176747349902421.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-561176747349902421.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-561176747349902421.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-561176747349902421.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-561176747349902421.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-561176747349902421.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-561176747349902421.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-561176747349902421.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-561176747349902421.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-561176747349902421.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-561176747349902421.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-561176747349902421.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-561176747349902421.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-561176747349902421.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-561176747349902421.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-561176747349902421.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-561176747349902421.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-561176747349902421.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-561176747349902421.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-561176747349902421.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-561176747349902421.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-561176747349902421.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-561176747349902421.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-561176747349902421.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-561176747349902421.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-561176747349902421.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-561176747349902421.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-561176747349902421.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-561176747349902421.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-561176747349902421.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-561176747349902421.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-561176747349902421.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-561176747349902421.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-561176747349902421.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-561176747349902421.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-561176747349902421.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-561176747349902421.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-561176747349902421.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-561176747349902421.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-561176747349902421.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-561176747349902421.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-561176747349902421.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-561176747349902421.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-561176747349902421.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-561176747349902421.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-561176747349902421.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-561176747349902421.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-561176747349902421.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-561176747349902421.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-561176747349902421.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-561176747349902421 .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-561176747349902421 .gp-absolute{position:absolute}.gps-561176747349902421 .gp-relative{position:relative}.gps-561176747349902421 .gp-inset-0{inset:0}.gps-561176747349902421 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-561176747349902421 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-561176747349902421 .gp-z-1{z-index:1}.gps-561176747349902421 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-561176747349902421 .gp-mb-0{margin-bottom:0}.gps-561176747349902421 .gp-flex{display:flex}.gps-561176747349902421 .gp-grid{display:grid}.gps-561176747349902421 .\!gp-hidden{display:none!important}.gps-561176747349902421 .gp-hidden{display:none}.gps-561176747349902421 .gp-h-full{height:100%}.gps-561176747349902421 .gp-w-full{width:100%}.gps-561176747349902421 .gp-max-w-full{max-width:100%}.gps-561176747349902421 .gp-cursor-pointer{cursor:pointer}.gps-561176747349902421 .gp-flex-col{flex-direction:column}.gps-561176747349902421 .gp-items-center{align-items:center}.gps-561176747349902421 .\!gp-justify-center{justify-content:center!important}.gps-561176747349902421 .gp-gap-y-0{row-gap:0}.gps-561176747349902421 .gp-overflow-hidden{overflow:hidden}.gps-561176747349902421 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-561176747349902421 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-561176747349902421 .gp-transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-561176747349902421 .gp-duration-200{transition-duration:.2s}.gps-561176747349902421 .gp-duration-300{transition-duration:.3s}.gps-561176747349902421 .gp-duration-\[var\(--duration\)\]{transition-duration:var(--duration)}.gps-561176747349902421 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-561176747349902421 .gp-group\/hero:hover .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-scale-x:var(--scale);--tw-scale-y:var(--scale);transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-561176747349902421 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-561176747349902421 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}@media (max-width:1024px){.gps-561176747349902421 .tablet\:gp-relative{position:relative}.gps-561176747349902421 .tablet\:\!gp-hidden{display:none!important}.gps-561176747349902421 .tablet\:gp-hidden{display:none}.gps-561176747349902421 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-561176747349902421 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-561176747349902421 .mobile\:gp-relative{position:relative}.gps-561176747349902421 .mobile\:\!gp-hidden{display:none!important}.gps-561176747349902421 .mobile\:gp-hidden{display:none}.gps-561176747349902421 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-561176747349902421 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1024px){.gps-561176747349902421 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-561176747349902421 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-561176747349902421 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-561176747349902421 .\[\&_p\]\:gp-inline p{display:inline}.gps-561176747349902421 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-561176747349902421 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gpa1w5Pw-V" data-id="gpa1w5Pw-V"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:64px;--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--pt-mobile:56px;--pl-mobile:15px;--pb-mobile:var(--g-s-2xl);--pr-mobile:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gpa1w5Pw-V gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gj2GRD9cZb gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g7U9Wl_xyd" data-id="g7U9Wl_xyd"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7U9Wl_xyd gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gHjbkxRMz6 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g1Z_TehIII">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g1Z_TehIII "
        style="--ta:left;--ta-mobile:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:40px;--mb-mobile:32px"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:200;--ls:0px;--size:51px;--size-tablet:51px;--size-mobile:44px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--c:var(--g-c-text-2, text-2);--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg1Z_TehIII_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gMZdDFLJlZ" data-id="gMZdDFLJlZ"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:24px;--cg-mobile:20px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gMZdDFLJlZ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5Rmymyz-m gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:409px;--h-tablet:409px;--h-mobile:217px;--d:flex;--d-mobile:flex;--d-tablet:flex;--mb:20px;--mb-mobile:8px">
      <gp-hero-banner
        gp-data='{"target":"_self","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"height":576,"src":"https://ucarecdn.com/17c3a847-f8b9-4f2d-8f7b-0b0d8401674c/-/format/auto/-/preview/576x576/-/quality/lighter/","width":397},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"height":576,"src":"https://ucarecdn.com/17c3a847-f8b9-4f2d-8f7b-0b0d8401674c/-/format/auto/-/preview/576x576/-/quality/lighter/","width":397},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"height":576,"src":"https://ucarecdn.com/17c3a847-f8b9-4f2d-8f7b-0b0d8401674c/-/format/auto/-/preview/576x576/-/quality/lighter/","width":397},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gyOdMvKz0D","enableParallax":false,"speedParallax":0,"hoverEffect":true,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"}}'
        gp-href="#"
        
        class="gyOdMvKz0D gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:409px;--h-tablet:409px;--h-mobile:217px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="gyOdMvKz0D"
      >
        
        
          <div
            data-hero-banner-link="true"
            aria-label="Hero banner link"
            class="gp-cursor-pointer"
          >
            
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
        style="--h:409px;--h-tablet:409px;--h-mobile:217px;--bgc:var(--g-c-bg-2)"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="https://ucarecdn.com/17c3a847-f8b9-4f2d-8f7b-0b0d8401674c/-/format/auto/-/preview/576x576/-/quality/lighter/" />
      <source media="(max-width: 1024px)" srcset="https://ucarecdn.com/17c3a847-f8b9-4f2d-8f7b-0b0d8401674c/-/format/auto/-/preview/576x576/-/quality/lighter/" />
      <img
        title
        class="adaptive-hero-banner"
        src="https://ucarecdn.com/17c3a847-f8b9-4f2d-8f7b-0b0d8401674c/-/format/auto/-/preview/576x576/-/quality/lighter/"
        alt=""
        fetchpriority="high"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:409px;--h-tablet:409px;--h-mobile:217px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform"
              style="--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bgi:url('https://ucarecdn.com/17c3a847-f8b9-4f2d-8f7b-0b0d8401674c/-/format/auto/-/preview/576x576/-/quality/lighter/');--bgi-tablet:url('https://ucarecdn.com/17c3a847-f8b9-4f2d-8f7b-0b0d8401674c/-/format/auto/-/preview/576x576/-/quality/lighter/');--bgi-mobile:url('https://ucarecdn.com/17c3a847-f8b9-4f2d-8f7b-0b0d8401674c/-/format/auto/-/preview/576x576/-/quality/lighter/');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
            </div></div>
          </div>
          <div
              aria-label="Overlay"
              role="banner"
              class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0%">
            </div>
          </div>
          
       
      
    <div
      id data-id
        style="--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:1200px;--w-mobile:1200px"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gx_DdF4HBU gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
      </div>
    
          </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gAEt50Gr6p">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gAEt50Gr6p "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:30px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#000000;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggAEt50Gr6p_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gl0b80hwTf gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:409px;--h-tablet:409px;--h-mobile:217px;--d:flex;--d-mobile:flex;--d-tablet:flex;--mb:20px;--mb-mobile:8px">
      <gp-hero-banner
        gp-data='{"target":"_self","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"height":576,"src":"https://ucarecdn.com/8716ef3b-fd62-4e3d-83cf-a05ec79d168f/-/format/auto/-/preview/576x576/-/quality/lighter/","width":397},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"height":576,"src":"https://ucarecdn.com/8716ef3b-fd62-4e3d-83cf-a05ec79d168f/-/format/auto/-/preview/576x576/-/quality/lighter/","width":397},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"height":576,"src":"https://ucarecdn.com/8716ef3b-fd62-4e3d-83cf-a05ec79d168f/-/format/auto/-/preview/576x576/-/quality/lighter/","width":397},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gtJU2h7Kfe","enableParallax":false,"speedParallax":0,"hoverEffect":true,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"}}'
        gp-href="#"
        
        class="gtJU2h7Kfe gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:409px;--h-tablet:409px;--h-mobile:217px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="gtJU2h7Kfe"
      >
        
        
          <div
            data-hero-banner-link="true"
            aria-label="Hero banner link"
            class="gp-cursor-pointer"
          >
            
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
        style="--h:409px;--h-tablet:409px;--h-mobile:217px;--bgc:var(--g-c-bg-2)"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="https://ucarecdn.com/8716ef3b-fd62-4e3d-83cf-a05ec79d168f/-/format/auto/-/preview/576x576/-/quality/lighter/" />
      <source media="(max-width: 1024px)" srcset="https://ucarecdn.com/8716ef3b-fd62-4e3d-83cf-a05ec79d168f/-/format/auto/-/preview/576x576/-/quality/lighter/" />
      <img
        title
        class="adaptive-hero-banner"
        src="https://ucarecdn.com/8716ef3b-fd62-4e3d-83cf-a05ec79d168f/-/format/auto/-/preview/576x576/-/quality/lighter/"
        alt=""
        fetchpriority="high"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:409px;--h-tablet:409px;--h-mobile:217px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform"
              style="--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bgi:url('https://ucarecdn.com/8716ef3b-fd62-4e3d-83cf-a05ec79d168f/-/format/auto/-/preview/576x576/-/quality/lighter/');--bgi-tablet:url('https://ucarecdn.com/8716ef3b-fd62-4e3d-83cf-a05ec79d168f/-/format/auto/-/preview/576x576/-/quality/lighter/');--bgi-mobile:url('https://ucarecdn.com/8716ef3b-fd62-4e3d-83cf-a05ec79d168f/-/format/auto/-/preview/576x576/-/quality/lighter/');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
            </div></div>
          </div>
          <div
              aria-label="Overlay"
              role="banner"
              class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0%">
            </div>
          </div>
          
       
      
    <div
      id data-id
        style="--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:1200px;--w-mobile:1200px"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gcACZZFimZ gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
      </div>
    
          </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gOJEYzz9A7">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gOJEYzz9A7 "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:30px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#000000;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggOJEYzz9A7_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzzNlD8O7r gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:409px;--h-tablet:409px;--h-mobile:217px;--d:flex;--d-mobile:flex;--d-tablet:flex;--mb:20px;--mb-mobile:8px">
      <gp-hero-banner
        gp-data='{"target":"_self","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"height":576,"src":"https://ucarecdn.com/b5fb6361-aa4a-4c55-a500-a76ff0de3adc/-/format/auto/-/preview/576x576/-/quality/lighter/","width":397},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"height":576,"src":"https://ucarecdn.com/b5fb6361-aa4a-4c55-a500-a76ff0de3adc/-/format/auto/-/preview/576x576/-/quality/lighter/","width":397},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"height":576,"src":"https://ucarecdn.com/b5fb6361-aa4a-4c55-a500-a76ff0de3adc/-/format/auto/-/preview/576x576/-/quality/lighter/","width":397},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gufFwkNaJ3","enableParallax":false,"speedParallax":0,"hoverEffect":true,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"}}'
        gp-href="#"
        
        class="gufFwkNaJ3 gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:409px;--h-tablet:409px;--h-mobile:217px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="gufFwkNaJ3"
      >
        
        
          <div
            data-hero-banner-link="true"
            aria-label="Hero banner link"
            class="gp-cursor-pointer"
          >
            
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
        style="--h:409px;--h-tablet:409px;--h-mobile:217px;--bgc:var(--g-c-bg-2)"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="https://ucarecdn.com/b5fb6361-aa4a-4c55-a500-a76ff0de3adc/-/format/auto/-/preview/576x576/-/quality/lighter/" />
      <source media="(max-width: 1024px)" srcset="https://ucarecdn.com/b5fb6361-aa4a-4c55-a500-a76ff0de3adc/-/format/auto/-/preview/576x576/-/quality/lighter/" />
      <img
        title
        class="adaptive-hero-banner"
        src="https://ucarecdn.com/b5fb6361-aa4a-4c55-a500-a76ff0de3adc/-/format/auto/-/preview/576x576/-/quality/lighter/"
        alt=""
        fetchpriority="high"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:409px;--h-tablet:409px;--h-mobile:217px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform"
              style="--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bgi:url('https://ucarecdn.com/b5fb6361-aa4a-4c55-a500-a76ff0de3adc/-/format/auto/-/preview/576x576/-/quality/lighter/');--bgi-tablet:url('https://ucarecdn.com/b5fb6361-aa4a-4c55-a500-a76ff0de3adc/-/format/auto/-/preview/576x576/-/quality/lighter/');--bgi-mobile:url('https://ucarecdn.com/b5fb6361-aa4a-4c55-a500-a76ff0de3adc/-/format/auto/-/preview/576x576/-/quality/lighter/');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
            </div></div>
          </div>
          <div
              aria-label="Overlay"
              role="banner"
              class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0%">
            </div>
          </div>
          
       
      
    <div
      id data-id
        style="--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:1200px;--w-mobile:1200px"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="g7-KjlwpOP gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
      </div>
    
          </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gQgXOpp59E">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gQgXOpp59E "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#000000;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggQgXOpp59E_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gO7umtppm_ gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:409px;--h-tablet:409px;--h-mobile:217px;--d:flex;--d-mobile:flex;--d-tablet:flex;--mb:20px;--mb-mobile:8px">
      <gp-hero-banner
        gp-data='{"target":"_self","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"height":576,"src":"https://ucarecdn.com/3a381fb1-19a8-4a34-9fcc-e28b68a7c18f/-/format/auto/-/preview/576x576/-/quality/lighter/","width":397},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"height":576,"src":"https://ucarecdn.com/3a381fb1-19a8-4a34-9fcc-e28b68a7c18f/-/format/auto/-/preview/576x576/-/quality/lighter/","width":397},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"height":576,"src":"https://ucarecdn.com/3a381fb1-19a8-4a34-9fcc-e28b68a7c18f/-/format/auto/-/preview/576x576/-/quality/lighter/","width":397},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gdjxDS-Ssm","enableParallax":false,"speedParallax":0,"hoverEffect":true,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"}}'
        gp-href="#"
        
        class="gdjxDS-Ssm gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:409px;--h-tablet:409px;--h-mobile:217px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="gdjxDS-Ssm"
      >
        
        
          <div
            data-hero-banner-link="true"
            aria-label="Hero banner link"
            class="gp-cursor-pointer"
          >
            
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
        style="--h:409px;--h-tablet:409px;--h-mobile:217px;--bgc:var(--g-c-bg-2)"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="https://ucarecdn.com/3a381fb1-19a8-4a34-9fcc-e28b68a7c18f/-/format/auto/-/preview/576x576/-/quality/lighter/" />
      <source media="(max-width: 1024px)" srcset="https://ucarecdn.com/3a381fb1-19a8-4a34-9fcc-e28b68a7c18f/-/format/auto/-/preview/576x576/-/quality/lighter/" />
      <img
        title
        class="adaptive-hero-banner"
        src="https://ucarecdn.com/3a381fb1-19a8-4a34-9fcc-e28b68a7c18f/-/format/auto/-/preview/576x576/-/quality/lighter/"
        alt=""
        fetchpriority="high"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:409px;--h-tablet:409px;--h-mobile:217px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform"
              style="--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bgi:url('https://ucarecdn.com/3a381fb1-19a8-4a34-9fcc-e28b68a7c18f/-/format/auto/-/preview/576x576/-/quality/lighter/');--bgi-tablet:url('https://ucarecdn.com/3a381fb1-19a8-4a34-9fcc-e28b68a7c18f/-/format/auto/-/preview/576x576/-/quality/lighter/');--bgi-mobile:url('https://ucarecdn.com/3a381fb1-19a8-4a34-9fcc-e28b68a7c18f/-/format/auto/-/preview/576x576/-/quality/lighter/');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
            </div></div>
          </div>
          <div
              aria-label="Overlay"
              role="banner"
              class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0%">
            </div>
          </div>
          
       
      
    <div
      id data-id
        style="--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:1200px;--w-mobile:1200px"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="ghQi4nNTbQ gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
      </div>
    
          </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="guUb5KOgEz">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="guUb5KOgEz "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#000000;word-break:break-word;overflow:hidden"
        >{{ section.settings.gguUb5KOgEz_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-561176747349902421 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ipwhmw-sc/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=560310848304710437&sectionId=561176747349902421)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg1Z_TehIII_text","label":"gg1Z_TehIII_text","default":"<p>Categories</p>"},{"type":"html","id":"ggAEt50Gr6p_text","label":"ggAEt50Gr6p_text","default":"<p><a href=\"#\">Bikinis</a></p>"},{"type":"html","id":"ggOJEYzz9A7_text","label":"ggOJEYzz9A7_text","default":"<p><a href=\"#\">One-pieces</a></p>"},{"type":"html","id":"ggQgXOpp59E_text","label":"ggQgXOpp59E_text","default":"<p><a href=\"#\">Beachwears</a></p>"},{"type":"html","id":"gguUb5KOgEz_text","label":"gguUb5KOgEz_text","default":"<p><a href=\"#\">Accessories</a></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
