
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-582879649781187444.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-582879649781187444.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-582879649781187444.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-582879649781187444.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-582879649781187444.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-582879649781187444.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-582879649781187444.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-582879649781187444.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-582879649781187444.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-582879649781187444.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-582879649781187444.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-582879649781187444.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-582879649781187444.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-582879649781187444.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-582879649781187444.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-582879649781187444.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-582879649781187444.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-582879649781187444.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-582879649781187444.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-582879649781187444.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-582879649781187444.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-582879649781187444.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-582879649781187444.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-582879649781187444.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-582879649781187444.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-582879649781187444.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-582879649781187444.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-582879649781187444.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-582879649781187444.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-582879649781187444.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-582879649781187444.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-582879649781187444.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-582879649781187444.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-582879649781187444.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-582879649781187444.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-582879649781187444.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-582879649781187444.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-582879649781187444.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-582879649781187444.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-582879649781187444.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-582879649781187444.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-582879649781187444.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-582879649781187444.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-582879649781187444.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-582879649781187444.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-582879649781187444.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-582879649781187444.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-582879649781187444.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-582879649781187444.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-582879649781187444.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-582879649781187444.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-582879649781187444.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-582879649781187444.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-582879649781187444.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-582879649781187444.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-582879649781187444.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-582879649781187444.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-582879649781187444.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-582879649781187444.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-582879649781187444.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-582879649781187444.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-582879649781187444.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-582879649781187444.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-582879649781187444.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-582879649781187444.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-582879649781187444.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-582879649781187444.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-582879649781187444.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-582879649781187444.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-582879649781187444.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-582879649781187444.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-582879649781187444.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-582879649781187444.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-582879649781187444.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-582879649781187444.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-582879649781187444.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-582879649781187444.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-582879649781187444.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-582879649781187444.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-582879649781187444.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-582879649781187444 .gp-fixed{position:fixed}.gps-582879649781187444 .gp-relative{position:relative}.gps-582879649781187444 .gp-top-\[27px\]{top:27px}.gps-582879649781187444 .gp-z-\[100\]{z-index:100}.gps-582879649781187444 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-582879649781187444 .gp-mb-0{margin-bottom:0}.gps-582879649781187444 .gp-flex{display:flex}.gps-582879649781187444 .gp-inline-flex{display:inline-flex}.gps-582879649781187444 .gp-grid{display:grid}.gps-582879649781187444 .\!gp-hidden{display:none!important}.gps-582879649781187444 .gp-hidden{display:none}.gps-582879649781187444 .\!gp-h-auto{height:auto!important}.gps-582879649781187444 .gp-h-full{height:100%}.gps-582879649781187444 .gp-min-h-\[150px\]{min-height:150px}.gps-582879649781187444 .gp-max-w-full{max-width:100%}.gps-582879649781187444 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-582879649781187444 .gp-flex-col{flex-direction:column}.gps-582879649781187444 .gp-items-center{align-items:center}.gps-582879649781187444 .gp-justify-center{justify-content:center}.gps-582879649781187444 .gp-overflow-hidden{overflow:hidden}.gps-582879649781187444 .gp-break-words{overflow-wrap:break-word}.gps-582879649781187444 .gp-rounded{border-radius:4px}.gps-582879649781187444 .\!gp-bg-white{--tw-bg-opacity:1!important;background-color:rgb(255 255 255/var(--tw-bg-opacity))!important}.gps-582879649781187444 .\!gp-bg-none{background-image:none!important}.gps-582879649781187444 .gp-p-\[16px\]{padding:16px}.gps-582879649781187444 .gp-text-\[14px\]{font-size:14px}.gps-582879649781187444 .gp-leading-normal{line-height:1.5}.gps-582879649781187444 .gp-text-g-bg-3{color:var(--g-c-bg-3)}.gps-582879649781187444 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-582879649781187444 .gp-no-underline{text-decoration-line:none}.gps-582879649781187444 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-582879649781187444 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-582879649781187444 .gp-duration-200{transition-duration:.2s}.gps-582879649781187444 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-582879649781187444 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-582879649781187444 .hover\:gp-text-g-bg-3:hover{color:var(--g-c-bg-3)}}.gps-582879649781187444 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-582879649781187444 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-582879649781187444 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-582879649781187444 .tablet\:\!gp-hidden{display:none!important}.gps-582879649781187444 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-582879649781187444 .mobile\:\!gp-hidden{display:none!important}.gps-582879649781187444 .mobile\:gp-hidden{display:none}}.gps-582879649781187444 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-582879649781187444 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FCFAF7","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"goJPLz4Fla"}' data-id="goJPLz4Fla" id="goJPLz4Fla" data-same-height-subgrid-container class="goJPLz4Fla gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--pt:var(undefined);--pl:15px;--pb:0px;--pr:15px;--pt-mobile:var(undefined);--pl-mobile:var(--g-s-l);--pb-mobile:0px;--pr-mobile:var(--g-s-l);--cg:30px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FCFAF7;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--ai:normal;--jc:start;--o:0"
      class="gK2iTAn6hX gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gN0wBK4YC0"}' data-id="gN0wBK4YC0" id="gN0wBK4YC0" data-same-height-subgrid-container class="gN0wBK4YC0 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--pt:0px;--pb:var(--g-s-4xl);--cg:30px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--ai:normal;--jc:start;--o:0"
      class="g3h5Js3WpM gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4kVVp74rV"
        class="g4kVVp74rV"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-m);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762424796167"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4kVVp74rV_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gcbg91Z0Sk"
        class="gcbg91Z0Sk"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762424796168"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#575757;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggcbg91Z0Sk_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gYtxn4Dxn4"}' data-id="gYtxn4Dxn4" id="gYtxn4Dxn4" data-same-height-subgrid-container class="gYtxn4Dxn4 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--mt:var(--g-s-4xl);--pb:var(--g-s-xl);--mt-mobile:70px;--mb-mobile:var(--g-s-xl);--cg:0px;--gtc:minmax(0, 2fr) minmax(0, 10fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--ai:normal;--jc:start;--o:0"
      class="gOVSGX87It gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnkclucD-a"
        class="gnkclucD-a"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762424796171"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#B4B4B4;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnkclucD-a_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--o:1"
      class="gk1kyD6olY gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gjFl57Zxjc"
        class="gjFl57Zxjc"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762424796172"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#575757;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjFl57Zxjc_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g0joNEjMT_"}' data-id="g0joNEjMT_" id="g0joNEjMT_" data-same-height-subgrid-container class="g0joNEjMT_ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--pb:var(--g-s-xl);--cg:0px;--gtc:minmax(0, 2fr) minmax(0, 10fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--ai:normal;--jc:start;--o:0"
      class="gUKitUFVBE gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gk3BHz9F5y"
        class="gk3BHz9F5y"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762424796175"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#B4B4B4;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggk3BHz9F5y_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="goIZYl9SUf gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gwczXnCAA1"
        class="gwczXnCAA1"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762424796176"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#575757;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggwczXnCAA1_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gteHOzJ9Ps"}' data-id="gteHOzJ9Ps" id="gteHOzJ9Ps" data-same-height-subgrid-container class="gteHOzJ9Ps gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--pb:var(--g-s-xl);--cg:0px;--gtc:minmax(0, 2fr) minmax(0, 10fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--ai:normal;--jc:start;--o:0"
      class="gfS6u5uCUQ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gaqGUDEnoQ"
        class="gaqGUDEnoQ"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762424796178"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#B4B4B4;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggaqGUDEnoQ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gd9l9SsZOJ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gQHc9-8Ujc"
        class="gQHc9-8Ujc"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762424796179"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#575757;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQHc9-8Ujc_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gFmSEY8xb2"}' data-id="gFmSEY8xb2" id="gFmSEY8xb2" data-same-height-subgrid-container class="gFmSEY8xb2 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--cg:0px;--gtc:minmax(0, 2fr) minmax(0, 10fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--ai:normal;--jc:start;--o:0"
      class="gBOMWQOUze gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gH2P4ywhTp"
        class="gH2P4ywhTp"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762424796182"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#B4B4B4;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggH2P4ywhTp_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gRhQ2peWYA gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gPKbT8Xwgl"
        class="gPKbT8Xwgl"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--pb:var(--g-s-xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762424796183"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#575757;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggPKbT8Xwgl_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="glFWAooTiY gp-relative gp-flex gp-flex-col"
    >
      
      
    <div class="gp-mx-auto gp-max-w-full" style="--w:100%;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:var(--g-s-4xl);--bc:transparent;--bw:0px;--bs:none;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px">
      <gp-form
        data-id="g9hk5ttNcf" id="g9hk5ttNcf"
        data-callback='{"link":"","target":"_self"}'
      >
        <a
          hidden="true" id="gp-form-callback-g9hk5ttNcf"
        >
        </a>
        {% form 'contact', class: 'gp-form-g9hk5ttNcf ', id: 'contact_form_g9hk5ttNcf' %}
          {% if form.errors %}
            <div
              id="gp-form-error-g9hk5ttNcf"
              class="gp-form-message gp-hidden gp-top-[27px] gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal gp-z-[100]"
              style="background-color:#FFE9E9;left:50%;transform:translateX(-50%)"
            >
              Can’t send email. Please try again later.
            </div>
          {% endif %}
          <div popover id="my-popover-g9hk5ttNcf">
            <style>
              
    #my-popover-g9hk5ttNcf::backdrop {
      width: fit-content;
      height: fit-content;
    }
  
            </style>
            <div
              id="gp-form-success-g9hk5ttNcf"
              class="gp-form-message gp-hidden gp-top-[27px] gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal gp-z-[100]"
              style="background-color:#F2FFEC;left:50%;transform:translateX(-50%)"
            >
              Thanks for contacting us. We'll get back to you as soon as possible.
            </div>
          </div>
          
    <div
      
      data-id="gxVsNxv8qN"
      class="gxVsNxv8qN"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl);--ta:left"
    >
      <input
        type="text"
        class="gxVsNxv8qN gp-text-g-text-1 gp-form-item !gp-outline-none !gp-bg-none !gp-bg-white"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--pl:21px;--pr:21px;--pt:14px;--pb:14px;--pl-tablet:21px;--pr-tablet:21px;--pt-tablet:14px;--pb-tablet:14px;--pl-mobile:21px;--pr-mobile:21px;--pt-mobile:14px;--pb-mobile:14px;--c:var(--g-c-text-1, text-1);--tt:default;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EEEEEE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none"
        placeholder="{{ section.settings.ggxVsNxv8qN_placeholder }}"
        
        name="contact[name]"
        value=""
      ></input>
    </div>
  
    <div
      
      data-id="ghD9vzkMGL"
      class="ghD9vzkMGL flex flex-col"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl);--ta:left"
    >
      
      <input
        type="email"
        class="gp-form-item !gp-outline-none !gp-bg-none email-form-ghD9vzkMGL"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--pl:21px;--pr:21px;--pt:14px;--pb:14px;--pl-tablet:21px;--pr-tablet:21px;--pt-tablet:14px;--pb-tablet:14px;--pl-mobile:21px;--pr-mobile:21px;--pt-mobile:14px;--pb-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EEEEEE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none"
        placeholder="{{ section.settings.gghD9vzkMGL_placeholder }}"
        name="contact[email]"
        required
        autocomplete="email"
        
      ></input>
    </div>
  
    <div
      
      data-id="g_1z0j2ZCj"
      class="g_1z0j2ZCj"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl);--ta:left"
    >
      <textarea
        class="g_1z0j2ZCj gp-text-g-text-1 gp-form-item !gp-outline-none !gp-h-auto !gp-bg-none gp-min-h-[150px]"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:21px;--pr:21px;--pt:14px;--pb:14px;--pl-tablet:21px;--pr-tablet:21px;--pt-tablet:14px;--pb-tablet:14px;--pl-mobile:21px;--pr-mobile:21px;--pt-mobile:14px;--pb-mobile:14px;--c:var(--g-c-text-1, text-1);--tt:default;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EEEEEE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none"
        placeholder="{{ section.settings.gg_1z0j2ZCj_placeholder }}"
        required
        name="contact[note]"
        value=""
      ></textarea>
    </div>
  
    
    <gp-button
      gp-data='{}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--ta:left" >
        <style>[data-id="g1sQ_qmMst"].gp-button-base::before, [data-id="g1sQ_qmMst-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #242424;
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="g1sQ_qmMst"]:hover::before, [data-id="g1sQ_qmMst-interaction"]:hover::before {
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-text-1, text-1);
  
    
  }</style>
        
        <button
          data-id="g1sQ_qmMst" dataId="g1sQ_qmMst" data-state="idle" aria-label="Submit"
          
          type="submit"
          style="--w:auto;--w-tablet:auto;--w-mobile:auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:32px;--pr:32px;--pt:12px;--pb:12px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:12px;--pb-mobile:12px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--bgi:;--hvr-bgi:;--hvr-bg:#424242;--bg:#242424;--hvr-c:var(--g-c-bg-3);--c:var(--g-c-bg-3, bg-3);--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal"
          class="g1sQ_qmMst gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 hover:gp-text-g-bg-3 gp-text-g-bg-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg1sQ_qmMst_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
  
        {% endform %}
      </gp-form>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-form-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-582879649781187444 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/w1g447-w1/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=582879649764213620&sectionId=582879649781187444)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg4kVVp74rV_text","label":"gg4kVVp74rV_text","default":"<p>Contact Us</p>"},{"type":"html","id":"ggcbg91Z0Sk_text","label":"ggcbg91Z0Sk_text","default":"<p>GemThemes Candid Enthusiasm from the Summer</p>"},{"type":"html","id":"ggnkclucD-a_text","label":"ggnkclucD-a_text","default":"<p>Address:</p>"},{"type":"html","id":"ggjFl57Zxjc_text","label":"ggjFl57Zxjc_text","default":"<p>Eight Avenue 487, London</p>"},{"type":"html","id":"ggk3BHz9F5y_text","label":"ggk3BHz9F5y_text","default":"<p>Phone:</p>"},{"type":"html","id":"ggwczXnCAA1_text","label":"ggwczXnCAA1_text","default":"<p>+012 345 6789 0000</p>"},{"type":"html","id":"ggaqGUDEnoQ_text","label":"ggaqGUDEnoQ_text","default":"<p>Email:</p>"},{"type":"html","id":"ggQHc9-8Ujc_text","label":"ggQHc9-8Ujc_text","default":"<p>support-eu@luxebrims.com</p>"},{"type":"html","id":"ggH2P4ywhTp_text","label":"ggH2P4ywhTp_text","default":"<p>Web:</p>"},{"type":"html","id":"ggPKbT8Xwgl_text","label":"ggPKbT8Xwgl_text","default":"<p>https://luxebrims.com/</p>"},{"type":"html","id":"ggxVsNxv8qN_placeholder","label":"ggxVsNxv8qN_placeholder","default":"Name"},{"type":"html","id":"gghD9vzkMGL_placeholder","label":"gghD9vzkMGL_placeholder","default":"Email"},{"type":"html","id":"gg_1z0j2ZCj_placeholder","label":"gg_1z0j2ZCj_placeholder","default":"Message"},{"type":"html","id":"gg1sQ_qmMst_label","label":"gg1sQ_qmMst_label","default":"Submit"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  