
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-582447362765685620.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-582447362765685620.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-582447362765685620.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-582447362765685620.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-582447362765685620.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-582447362765685620.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-582447362765685620.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-582447362765685620.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-582447362765685620.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-582447362765685620.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-582447362765685620.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-582447362765685620.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-582447362765685620.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-582447362765685620.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-582447362765685620.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-582447362765685620.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-582447362765685620.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-582447362765685620.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-582447362765685620.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-582447362765685620.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-582447362765685620.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-582447362765685620.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-582447362765685620.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-582447362765685620.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-582447362765685620.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-582447362765685620.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-582447362765685620.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-582447362765685620.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-582447362765685620.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-582447362765685620.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-582447362765685620.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-582447362765685620.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-582447362765685620.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-582447362765685620.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-582447362765685620.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-582447362765685620.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-582447362765685620.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-582447362765685620.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-582447362765685620.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-582447362765685620.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-582447362765685620.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-582447362765685620.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-582447362765685620.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-582447362765685620.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-582447362765685620.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-582447362765685620.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-582447362765685620.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-582447362765685620.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-582447362765685620.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-582447362765685620.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-582447362765685620.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-582447362765685620.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-582447362765685620.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-582447362765685620.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-582447362765685620.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-582447362765685620.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-582447362765685620.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-582447362765685620.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-582447362765685620.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-582447362765685620.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-582447362765685620.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-582447362765685620.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-582447362765685620.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-582447362765685620.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-582447362765685620.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-582447362765685620.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-582447362765685620.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-582447362765685620.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-582447362765685620.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-582447362765685620.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-582447362765685620.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-582447362765685620.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-582447362765685620.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-582447362765685620.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-582447362765685620.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-582447362765685620.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-582447362765685620.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-582447362765685620.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-582447362765685620.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-582447362765685620.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-582447362765685620 .gp-rotate-0,.gps-582447362765685620 .gp-rotate-180,.gps-582447362765685620 .mobile\:gp-rotate-0,.gps-582447362765685620 .mobile\:gp-rotate-180,.gps-582447362765685620 .tablet\:gp-rotate-0,.gps-582447362765685620 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-582447362765685620 .gp-absolute{position:absolute}.gps-582447362765685620 .gp-relative{position:relative}.gps-582447362765685620 .gp-left-0{left:0}.gps-582447362765685620 .gp-right-0{right:0}.gps-582447362765685620 .gp-z-1{z-index:1}.gps-582447362765685620 .gp-z-2{z-index:2}.gps-582447362765685620 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-582447362765685620 .gp-my-0{margin-bottom:0;margin-top:0}.gps-582447362765685620 .gp-mb-0{margin-bottom:0}.gps-582447362765685620 .gp-block{display:block}.gps-582447362765685620 .gp-flex{display:flex}.gps-582447362765685620 .gp-grid{display:grid}.gps-582447362765685620 .\!gp-hidden{display:none!important}.gps-582447362765685620 .gp-hidden{display:none}.gps-582447362765685620 .gp-h-full{height:100%}.gps-582447362765685620 .\!gp-min-h-full{min-height:100%!important}.gps-582447362765685620 .gp-w-full{width:100%}.gps-582447362765685620 .gp-max-w-full{max-width:100%}.gps-582447362765685620 .gp-flex-1{flex:1 1 0%}.gps-582447362765685620 .gp-shrink-0{flex-shrink:0}.gps-582447362765685620 .gp-rotate-0{--tw-rotate:0deg}.gps-582447362765685620 .gp-rotate-0,.gps-582447362765685620 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-582447362765685620 .gp-rotate-180{--tw-rotate:180deg}.gps-582447362765685620 .gp-cursor-pointer{cursor:pointer}.gps-582447362765685620 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-582447362765685620 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-582447362765685620 .\!gp-flex-row{flex-direction:row!important}.gps-582447362765685620 .gp-flex-row{flex-direction:row}.gps-582447362765685620 .gp-flex-col{flex-direction:column}.gps-582447362765685620 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-582447362765685620 .gp-items-center{align-items:center}.gps-582447362765685620 .gp-justify-center{justify-content:center}.gps-582447362765685620 .gp-justify-between{justify-content:space-between}.gps-582447362765685620 .gp-gap-2{gap:8px}.gps-582447362765685620 .gp-overflow-hidden{overflow:hidden}.gps-582447362765685620 .gp-text-center{text-align:center}.gps-582447362765685620 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-582447362765685620 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-582447362765685620 .gp-duration-200{transition-duration:.2s}.gps-582447362765685620 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-582447362765685620 .tablet\:gp-absolute{position:absolute}.gps-582447362765685620 .tablet\:gp-left-0{left:0}.gps-582447362765685620 .tablet\:gp-right-0{right:0}.gps-582447362765685620 .tablet\:gp-block{display:block}.gps-582447362765685620 .tablet\:\!gp-hidden{display:none!important}.gps-582447362765685620 .tablet\:gp-hidden{display:none}.gps-582447362765685620 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-582447362765685620 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-582447362765685620 .tablet\:gp-rotate-0,.gps-582447362765685620 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-582447362765685620 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-582447362765685620 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-582447362765685620 .tablet\:gp-flex-row{flex-direction:row}.gps-582447362765685620 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-582447362765685620 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-582447362765685620 .mobile\:gp-absolute{position:absolute}.gps-582447362765685620 .mobile\:gp-left-0{left:0}.gps-582447362765685620 .mobile\:gp-right-0{right:0}.gps-582447362765685620 .mobile\:gp-block{display:block}.gps-582447362765685620 .mobile\:\!gp-hidden{display:none!important}.gps-582447362765685620 .mobile\:gp-hidden{display:none}.gps-582447362765685620 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-582447362765685620 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-582447362765685620 .mobile\:gp-rotate-0,.gps-582447362765685620 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-582447362765685620 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-582447362765685620 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-582447362765685620 .mobile\:gp-flex-row{flex-direction:row}.gps-582447362765685620 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-582447362765685620 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-582447362765685620 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-582447362765685620 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-582447362765685620 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FF871D","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"goqMChSkOn"}' data-id="goqMChSkOn" id="goqMChSkOn" data-same-height-subgrid-container class="goqMChSkOn gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-l);--pb:var(--g-s-l);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FF871D;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gMeVQrCv3y gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gMGMRwfeo5"}' data-id="gMGMRwfeo5" id="gMGMRwfeo5" data-same-height-subgrid-container class="gMGMRwfeo5 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pl:75px;--pr:75px;--pl-mobile:15px;--pr-mobile:15px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gP-5aYsWsf gp-relative gp-flex gp-flex-col"
    >
      
    <gp-carousel gp-data='{"id":"gguJVof-7l","setting":{"animationMode":"ease-in","arrow":{"desktop":false},"arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"height":"32px","padding":{"linked":true},"shapeLinked":true,"shapeValue":"1/1","width":"32px"}},"arrowCustom":"<svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z\"></path></svg>","arrowGapToEachSide":"16","arrowIconSize":{"desktop":24},"autoplay":true,"autoplayTimeout":1,"childItem":["Slide 1","Slide 2","Slide 3","Slide 4"],"controlOverContent":{"desktop":true},"dot":{"desktop":false,"mobile":false,"tablet":false},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"dotGapToCarousel":{"desktop":16,"mobile":16,"tablet":16},"dotSize":{"desktop":12,"mobile":12,"tablet":12},"dotStyle":{"desktop":"inside","mobile":"inside","tablet":"inside"},"enableDrag":{"desktop":true},"itemNumber":{"desktop":4,"mobile":2,"tablet":2},"loop":{"desktop":true},"navigationEnable":{"desktop":false,"mobile":false,"tablet":false},"navigationStyle":{"desktop":"inside","mobile":"inside","tablet":"inside"},"pauseOnHover":true,"roundedArrow":{"desktop":{"radiusType":"small"}},"sneakPeak":{"desktop":false,"mobile":true,"tablet":false},"sneakPeakOffsetCenter":{"desktop":50,"mobile":50,"tablet":50},"sneakPeakOffsetForward":{"desktop":50,"mobile":50,"tablet":50},"sneakPeakType":{"desktop":"forward"},"text":"<p>100% Secure Checkout</p>","vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"playSpeed":500,"sizeSetting":{"desktop":{"height":"auto","width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}},"spacing":{"desktop":"16"}}}' data-id="gguJVof-7l" id="gp-root-carousel-gguJVof-7l" style="--jc:center" class="gp-group/carousel gp-w-full gp-flex">
      <div
        
        class="gguJVof-7l gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:0px;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <div class="gp-relative gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row" style="--h:100%;--h-tablet:100%;--h-mobile:100%;gap:16px">
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 gp-carousel-arrow-gguJVof-7l gguJVof-7l gp-carousel-action-back gem-slider-previous gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-hidden"
      style="--d:none;--d-tablet:none;--d-mobile:none;--left:3px;--right:initial;--top:initial;--bottom:;--left-tablet:3px;--right-tablet:initial;--top-tablet:initial;--bottom-tablet:;--left-mobile:3px;--right-mobile:initial;--top-mobile:initial;--bottom-mobile:;--w:32px;--h:32px"
    >
      <style type="text/css">
      .gp-carousel-arrow-gguJVof-7l {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gguJVof-7l::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-gguJVof-7l {
          border-radius: var(--g-radius-small);
        }
        .gp-carousel-arrow-gguJVof-7l::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          border-radius: var(--g-radius-small);
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-gguJVof-7l {
          border-radius: var(--g-radius-small);
        }
        .gp-carousel-arrow-gguJVof-7l::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          border-radius: var(--g-radius-small);
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
      style="--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
    >
        <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </div>
  
    </button>
  
          <div id="gp-carousel-gguJVof-7l" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none gp-carousel-slider-gguJVof-7l mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full" style="--cg-mobile:16px;--cg-tablet:16px;--cg:16px">
            
    
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gguJVof-7l gp-child-item-gguJVof-7l gmKt2nnoqX"
      style="--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 1.5 - 5.333333333333333px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 1.5 - 5.333333333333333px);--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX"
      data-index="0"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        
      >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJpFo_vokC"
        class="gJpFo_vokC"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757404109084"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJpFo_vokC_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gguJVof-7l gp-child-item-gguJVof-7l gwEM1idCbT"
      style="--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 1.5 - 5.333333333333333px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 1.5 - 5.333333333333333px);--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX"
      data-index="1"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        
      >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g9XISudoZS"
        class="g9XISudoZS"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757404109085"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9XISudoZS_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gguJVof-7l gp-child-item-gguJVof-7l gtmmiSVetm"
      style="--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 1.5 - 5.333333333333333px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 1.5 - 5.333333333333333px);--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX"
      data-index="2"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        
      >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="giLEe4yWhA"
        class="giLEe4yWhA"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757404109085"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggiLEe4yWhA_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gguJVof-7l gp-child-item-gguJVof-7l gj-P-fdwwy"
      style="--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 1.5 - 5.333333333333333px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 1.5 - 5.333333333333333px);--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX"
      data-index="3"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        
      >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gEy4PVdeoO"
        class="gEy4PVdeoO"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757404109085"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggEy4PVdeoO_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      </div>
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 gp-carousel-arrow-gguJVof-7l gguJVof-7l gp-carousel-action-next gem-slider-next gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-hidden"
      style="--d:none;--d-tablet:none;--d-mobile:none;--right:3px;--left:initial;--top:;--bottom:initial;--right-tablet:3px;--left-tablet:initial;--top-tablet:;--bottom-tablet:initial;--right-mobile:3px;--left-mobile:initial;--top-mobile:;--bottom-mobile:initial;--w:32px;--h:32px"
    >
      <style type="text/css">
      .gp-carousel-arrow-gguJVof-7l {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gguJVof-7l::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-gguJVof-7l {
          border-radius: var(--g-radius-small);
        }
        .gp-carousel-arrow-gguJVof-7l::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          border-radius: var(--g-radius-small);
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-gguJVof-7l {
          border-radius: var(--g-radius-small);
        }
        .gp-carousel-arrow-gguJVof-7l::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          border-radius: var(--g-radius-small);
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
      style="--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
    >
        <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </div>
  
    </button>
  
        </div>
        
    
        <div class="gp-carousel-dot-container gp-carousel-dot-container-gguJVof-7l gp-z-2 gp-flex gp-flex-1 gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-absolute gp-flex-row gp-left-0 gp-right-0 tablet:gp-absolute tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-absolute mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0" style="--bottom:16px;--bottom-tablet:16px;--bottom-mobile:16px;--d:none;--d-tablet:none;--d-mobile:none">
          <!-- item render by js -->
        </div>
      
  
      </div>
    </gp-carousel>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-carousel-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-582447362765685620 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/w1g447-w1/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=582447362731934580&sectionId=582447362765685620)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggJpFo_vokC_text","label":"ggJpFo_vokC_text","default":"<p>60-Day Free Rerturns</p>"},{"type":"html","id":"gg9XISudoZS_text","label":"gg9XISudoZS_text","default":"<p>Non-stop Customer Service</p>"},{"type":"html","id":"ggiLEe4yWhA_text","label":"ggiLEe4yWhA_text","default":"<p>Free Shipping. Orders Over $150</p>"},{"type":"html","id":"ggEy4PVdeoO_text","label":"ggEy4PVdeoO_text","default":"<p>100% Secure Checkout</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  