

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-563608842508698789.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-563608842508698789.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-563608842508698789.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-563608842508698789.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-563608842508698789.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-563608842508698789.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-563608842508698789.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-563608842508698789.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-563608842508698789.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-563608842508698789.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-563608842508698789.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-563608842508698789.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-563608842508698789.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-563608842508698789.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-563608842508698789.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-563608842508698789.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-563608842508698789.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-563608842508698789.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-563608842508698789.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-563608842508698789.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-563608842508698789.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-563608842508698789.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-563608842508698789.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-563608842508698789.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-563608842508698789.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-563608842508698789.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-563608842508698789.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-563608842508698789.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-563608842508698789.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-563608842508698789.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-563608842508698789.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-563608842508698789.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-563608842508698789.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-563608842508698789.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-563608842508698789.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-563608842508698789.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-563608842508698789.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-563608842508698789.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-563608842508698789.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-563608842508698789.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-563608842508698789.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-563608842508698789.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-563608842508698789.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-563608842508698789.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-563608842508698789.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-563608842508698789.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-563608842508698789.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-563608842508698789.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-563608842508698789.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-563608842508698789.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-563608842508698789.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-563608842508698789.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-563608842508698789.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-563608842508698789.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-563608842508698789.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-563608842508698789.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-563608842508698789.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-563608842508698789.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-563608842508698789.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-563608842508698789.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-563608842508698789.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-563608842508698789.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-563608842508698789 .gp-relative{position:relative}.gps-563608842508698789 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-563608842508698789 .gp-mb-0{margin-bottom:0}.gps-563608842508698789 .gp-inline-block{display:inline-block}.gps-563608842508698789 .gp-flex{display:flex}.gps-563608842508698789 .gp-grid{display:grid}.gps-563608842508698789 .gp-contents{display:contents}.gps-563608842508698789 .\!gp-hidden{display:none!important}.gps-563608842508698789 .gp-hidden{display:none}.gps-563608842508698789 .gp-h-auto{height:auto}.gps-563608842508698789 .gp-h-full{height:100%}.gps-563608842508698789 .gp-w-full{width:100%}.gps-563608842508698789 .gp-max-w-full{max-width:100%}.gps-563608842508698789 .gp-flex-none{flex:none}.gps-563608842508698789 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-563608842508698789 .gp-flex-col{flex-direction:column}.gps-563608842508698789 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-563608842508698789 .gp-duration-200{transition-duration:.2s}.gps-563608842508698789 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-563608842508698789 .tablet\:\!gp-hidden{display:none!important}.gps-563608842508698789 .tablet\:gp-hidden{display:none}.gps-563608842508698789 .tablet\:gp-h-auto{height:auto}.gps-563608842508698789 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-563608842508698789 .mobile\:\!gp-hidden{display:none!important}.gps-563608842508698789 .mobile\:gp-hidden{display:none}.gps-563608842508698789 .mobile\:gp-h-auto{height:auto}.gps-563608842508698789 .mobile\:gp-flex-none{flex:none}}.gps-563608842508698789 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>


    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gBIral72Nt"}' data-id="gBIral72Nt" id="gBIral72Nt" data-same-height-subgrid-container class="gBIral72Nt gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(undefined);--pl:15px;--pb:64px;--pr:15px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gQUL-ckzYM gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gecFw2Y8aK"}' data-id="gecFw2Y8aK" id="gecFw2Y8aK" data-same-height-subgrid-container class="gecFw2Y8aK gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--cg:32px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gEUOZtRkAA gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gQI461T_Yh"
        class="gQI461T_Yh"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754920234594"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--c:#131313;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:32px;--size-tablet:32px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQI461T_Yh_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gP5sjCJ_iI"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--ta:center"
      class="gp-group/image gp-relative force-publish-1754920234594 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gP5sjCJ_iI"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_560307868822144090-7e7c14ed-f84d-4a37-aa53-a2445c99f8f0.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2MzEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyMDAtNjMxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjAwIiBoZWlnaHQ9IjYzMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2MzEiIGZpbGw9InVybCgjZy0xMjAwLTYzMSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyMDAiIHRvPSIxMjAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_560307868822144090-7e7c14ed-f84d-4a37-aa53-a2445c99f8f0.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2MzEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyMDAtNjMxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjAwIiBoZWlnaHQ9IjYzMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2MzEiIGZpbGw9InVybCgjZy0xMjAwLTYzMSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyMDAiIHRvPSIxMjAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "gempages_560307868822144090-7e7c14ed-f84d-4a37-aa53-a2445c99f8f0.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2MzEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyMDAtNjMxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjAwIiBoZWlnaHQ9IjYzMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2MzEiIGZpbGw9InVybCgjZy0xMjAwLTYzMSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyMDAiIHRvPSIxMjAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "gempages_560307868822144090-7e7c14ed-f84d-4a37-aa53-a2445c99f8f0.png" | file_url }}"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:1200px;--w-tablet:1200px;--w-mobile:1200px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g-ydUcEsbg"}' data-id="g-ydUcEsbg" id="g-ydUcEsbg" data-same-height-subgrid-container class="g-ydUcEsbg gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--cg:32px;--gtc:minmax(0, 12fr);--w:1000px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gAuZJqZPLU gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g32c6kpQLx"
        class="g32c6kpQLx"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754920234597"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#5E5E5E;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg32c6kpQLx_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gei02jYbqF"
        class="gei02jYbqF"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754920234598"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#5E5E5E;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggei02jYbqF_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gV3ndqNC7r"
        class="gV3ndqNC7r"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754920234599"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#5E5E5E;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggV3ndqNC7r_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  


{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-563608842508698789 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ipwhmw-sc/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=563608773000692531&sectionId=563608842508698789)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggQI461T_Yh_text","label":"ggQI461T_Yh_text","default":"<p>Your daily routine with GemSkin’s acne treatment kit</p>"},{"type":"html","id":"gg32c6kpQLx_text","label":"gg32c6kpQLx_text","default":"<p><span style=\"color:#131313;\"><strong>Step 1: Cleanse your face with GemSkin Oil-Free Face Wash</strong></span><br>Cleanse your face with GemSkin Oil-Free Face Wash<br>Two times a day in the morning and the evening<br>Wet your face with water, apply the face wash then gently massage around the face. Avoid the eyes and rinse off with warm water. If your skin feels dry, use the product only once a day.</p>"},{"type":"html","id":"ggei02jYbqF_text","label":"ggei02jYbqF_text","default":"<p><span style=\"color:#131313;\"><strong>Step 2: Clear away dirt with GemSkin Acne Control Toner</strong></span><br>Clear away dirt with GemSkin Acne Control Toner<br>The best way to apply toner is using a cotton ball or pad. Soak it with toner and wipe it around your face, especially the T-zone. If you don’t want to use cotton, just put a few drops of toner into your hands then press them to your face.</p>"},{"type":"html","id":"ggV3ndqNC7r_text","label":"ggV3ndqNC7r_text","default":"<p><span style=\"color:#131313;\"><strong>Step 3: Moisturize your skin with GemSkin Hydrating Gel</strong></span><br>In this last step for the perfect skin, take out a pea-sized amount of gel with your fingertips. Don’t take too much as you can always add more later. Put the gel in your palms, warm it up and apply to your face using circular and upward motions.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
