
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-582879649747436404.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-582879649747436404.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-582879649747436404.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-582879649747436404.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-582879649747436404.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-582879649747436404.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-582879649747436404.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-582879649747436404.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-582879649747436404.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-582879649747436404.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-582879649747436404.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-582879649747436404.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-582879649747436404.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-582879649747436404.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-582879649747436404.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-582879649747436404.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-582879649747436404.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-582879649747436404.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-582879649747436404.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-582879649747436404.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-582879649747436404.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-582879649747436404.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-582879649747436404.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-582879649747436404.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-582879649747436404.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-582879649747436404.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-582879649747436404.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-582879649747436404.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-582879649747436404.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-582879649747436404.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-582879649747436404.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-582879649747436404.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-582879649747436404.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-582879649747436404.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-582879649747436404.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-582879649747436404.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-582879649747436404.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-582879649747436404.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-582879649747436404.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-582879649747436404.gps.gpsil [style*="--hvr-op:"]:hover{opacity:var(--hvr-op)}.gps-582879649747436404.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-582879649747436404.gps.gpsil [style*="--hvr-o:"]:hover{order:var(--hvr-o)}.gps-582879649747436404.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-582879649747436404.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-582879649747436404.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-582879649747436404.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-582879649747436404.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-582879649747436404.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-582879649747436404.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-582879649747436404.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-582879649747436404.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-582879649747436404.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-582879649747436404.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-582879649747436404.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-582879649747436404.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-582879649747436404.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-582879649747436404.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-582879649747436404.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-582879649747436404.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-582879649747436404.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-582879649747436404.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-582879649747436404.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-582879649747436404.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-582879649747436404.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-582879649747436404.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-582879649747436404.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-582879649747436404.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-582879649747436404.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-582879649747436404.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-582879649747436404.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-582879649747436404.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-582879649747436404.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-582879649747436404.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-582879649747436404.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-582879649747436404.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-582879649747436404.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-582879649747436404.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-582879649747436404.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-582879649747436404.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-582879649747436404.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-582879649747436404.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-582879649747436404.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-582879649747436404.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-582879649747436404 .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-582879649747436404 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-582879649747436404 .gp-invisible{visibility:hidden}.gps-582879649747436404 .gp-absolute{position:absolute}.gps-582879649747436404 .gp-relative{position:relative}.gps-582879649747436404 .gp-inset-0{inset:0}.gps-582879649747436404 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-582879649747436404 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-582879649747436404 .-gp-z-1{z-index:-1}.gps-582879649747436404 .gp-z-1{z-index:1}.gps-582879649747436404 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-582879649747436404 .gp-mb-0{margin-bottom:0}.gps-582879649747436404 .gp-flex{display:flex}.gps-582879649747436404 .gp-grid{display:grid}.gps-582879649747436404 .\!gp-hidden{display:none!important}.gps-582879649747436404 .gp-hidden{display:none}.gps-582879649747436404 .gp-h-full{height:100%}.gps-582879649747436404 .gp-w-full{width:100%}.gps-582879649747436404 .gp-max-w-full{max-width:100%}.gps-582879649747436404 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-582879649747436404 .gp-flex-col{flex-direction:column}.gps-582879649747436404 .gp-items-center{align-items:center}.gps-582879649747436404 .gp-self-center{align-self:center}.gps-582879649747436404 .gp-overflow-hidden{overflow:hidden}.gps-582879649747436404 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-582879649747436404 .gp-transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-582879649747436404 .gp-duration-200{transition-duration:.2s}.gps-582879649747436404 .gp-duration-\[var\(--duration\)\]{transition-duration:var(--duration)}.gps-582879649747436404 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-582879649747436404 .gp-group\/hero:hover .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-scale-x:var(--scale);--tw-scale-y:var(--scale);transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-582879649747436404 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-582879649747436404 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}@media (max-width:1024px){.gps-582879649747436404 .tablet\:\!gp-relative{position:relative!important}.gps-582879649747436404 .tablet\:\!gp-hidden{display:none!important}.gps-582879649747436404 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-582879649747436404 .mobile\:\!gp-relative{position:relative!important}.gps-582879649747436404 .mobile\:\!gp-hidden{display:none!important}.gps-582879649747436404 .mobile\:gp-hidden{display:none}.gps-582879649747436404 .mobile\:\!gp-h-auto{height:auto!important}}.gps-582879649747436404 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gzYECgFBdU"}' data-id="gzYECgFBdU" id="gzYECgFBdU" data-same-height-subgrid-container class="gzYECgFBdU gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gzMdPr9iec gp-relative gp-flex gp-flex-col"
    >
      
      <gp-hero-banner
        
        data-id="gDxFek37Sx"
        class="gDxFek37Sx gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:0px;--pr:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content"
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_581001623841538568-7d42f7b7-b027-4745-8ea8-450f4b828372.png","height":600,"src":"https://cdn.shopify.com/s/files/1/0766/6227/6345/files/gempages_581001623841538568-7d42f7b7-b027-4745-8ea8-450f4b828372.png","storage":"FILE_CONTENT","width":1440},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_581001623841538568-7d42f7b7-b027-4745-8ea8-450f4b828372.png","height":600,"src":"https://cdn.shopify.com/s/files/1/0766/6227/6345/files/gempages_581001623841538568-7d42f7b7-b027-4745-8ea8-450f4b828372.png","storage":"FILE_CONTENT","width":1440},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_581001623841538568-bbe3642c-b709-4eb4-99b3-ef129b702c19.png","height":367,"src":"https://cdn.shopify.com/s/files/1/0766/6227/6345/files/gempages_581001623841538568-bbe3642c-b709-4eb4-99b3-ef129b702c19.png","storage":"FILE_CONTENT","width":375},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"}},"uid":"gDxFek37Sx","enableParallax":false,"speedParallax":0,"hoverEffect":true,"hoverEffectScale":"100%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center-hoz"},"contentPosition2Col":{"desktop":"center-hoz"},"target":"_self","href":"","linkType":""}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-undefined tablet:gp-justify-undefined mobile:gp-justify-undefined" style="--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2)">
      <div
        aria-label="Background Image"
        role="banner"
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0 0 0)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform" style="--bgi:url({{ "gempages_581001623841538568-7d42f7b7-b027-4745-8ea8-450f4b828372.png" | file_url }});--bgi-tablet:url({{ "gempages_581001623841538568-7d42f7b7-b027-4745-8ea8-450f4b828372.png" | file_url }});--bgi-mobile:url({{ "gempages_581001623841538568-bbe3642c-b709-4eb4-99b3-ef129b702c19.png" | file_url }});--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--duration:0s;--scale:100%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 300ms cubic-bezier(0,0,0,1)">
          
          
        </div>
        <div aria-label="Overlay" role="banner" class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-z-1 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]" style="--hvr-bgc:#121212;--hvr-op:0%;--top:0;--left:0"> </div>
      </div>
      
    

    

    
    <gp-row gp-data='{}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row tablet:!gp-relative mobile:!gp-relative  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:15px;--pr:15px;--pt:32px;--pb:32px;--cg:32px;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:1200px;--w-mobile:1200px;--pc:center;--pc-tablet:center;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gNPmiqVifU gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTM3jy3afW"
        class="gTM3jy3afW"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:226px;--mb:var(--g-s-xl);--mt-mobile:112px;--mb-mobile:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757404067008"
      >
      <div class="gp-flex" style="--jc:center">
        <h1
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTM3jy3afW_text | replace: '$locationOrigin', locationOrigin }}
        </h1>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gvP3Hp9zK5"}' data-id="gvP3Hp9zK5" id="gvP3Hp9zK5" data-same-height-subgrid-container class="gvP3Hp9zK5 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:226px;--mb-mobile:112px;--cg:32px;--gtc:minmax(0, 12fr);--w:570px;--w-tablet:570px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gWjO61fjpH gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gtP-f6STGQ"
        class="gtP-f6STGQ"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757404067010"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggtP-f6STGQ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_581001623841538568-bbe3642c-b709-4eb4-99b3-ef129b702c19.png" | file_url }}" srcset="{{ "gempages_581001623841538568-bbe3642c-b709-4eb4-99b3-ef129b702c19.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_581001623841538568-7d42f7b7-b027-4745-8ea8-450f4b828372.png" | file_url }}" srcset="{{ "gempages_581001623841538568-7d42f7b7-b027-4745-8ea8-450f4b828372.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high" title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="{{ "gempages_581001623841538568-7d42f7b7-b027-4745-8ea8-450f4b828372.png" | file_url }}" data-src="{{ "gempages_581001623841538568-7d42f7b7-b027-4745-8ea8-450f4b828372.png" | file_url }}"
        alt=""
        width="100%"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-582879649747436404 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/w1g447-w1/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=582879649697104756&sectionId=582879649747436404)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggTM3jy3afW_text","label":"ggTM3jy3afW_text","default":"<p>Contact Us&nbsp;</p>"},{"type":"html","id":"ggtP-f6STGQ_text","label":"ggtP-f6STGQ_text","default":"<p>Due to high volume of orders and interactions, it may take longer for you to respond. We are working diligently during this critical time and we appreciate your patience.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  