
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-582879591580828215.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-582879591580828215.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-582879591580828215.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-582879591580828215.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-582879591580828215.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-582879591580828215.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-582879591580828215.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-582879591580828215.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-582879591580828215.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-582879591580828215.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-582879591580828215.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-582879591580828215.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-582879591580828215.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-582879591580828215.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-582879591580828215.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-582879591580828215.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-582879591580828215.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-582879591580828215.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-582879591580828215.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-582879591580828215.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-582879591580828215.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-582879591580828215.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-582879591580828215.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-582879591580828215.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-582879591580828215.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-582879591580828215.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-582879591580828215.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-582879591580828215.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-582879591580828215.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-582879591580828215.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-582879591580828215.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-582879591580828215.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-582879591580828215.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-582879591580828215.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-582879591580828215.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-582879591580828215.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-582879591580828215.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-582879591580828215.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-582879591580828215.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-582879591580828215.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-582879591580828215.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-582879591580828215.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-582879591580828215.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-582879591580828215.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-582879591580828215.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-582879591580828215.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-582879591580828215.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-582879591580828215.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-582879591580828215.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-582879591580828215.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-582879591580828215.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-582879591580828215.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-582879591580828215.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-582879591580828215.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-582879591580828215.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-582879591580828215.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-582879591580828215.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-582879591580828215.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-582879591580828215.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-582879591580828215.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-582879591580828215.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-582879591580828215.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-582879591580828215.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-582879591580828215 .gp-relative{position:relative}.gps-582879591580828215 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-582879591580828215 .gp-mb-0{margin-bottom:0}.gps-582879591580828215 .gp-flex{display:flex}.gps-582879591580828215 .gp-grid{display:grid}.gps-582879591580828215 .\!gp-hidden{display:none!important}.gps-582879591580828215 .gp-hidden{display:none}.gps-582879591580828215 .gp-max-w-full{max-width:100%}.gps-582879591580828215 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-582879591580828215 .gp-flex-col{flex-direction:column}.gps-582879591580828215 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-582879591580828215 .gp-duration-200{transition-duration:.2s}.gps-582879591580828215 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-582879591580828215 .tablet\:\!gp-hidden{display:none!important}.gps-582879591580828215 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-582879591580828215 .mobile\:\!gp-hidden{display:none!important}.gps-582879591580828215 .mobile\:gp-hidden{display:none}}.gps-582879591580828215 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FCFAF7","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","preload":false}},"uid":"g37SeSZHIw"}' data-id="g37SeSZHIw" id="g37SeSZHIw" data-same-height-subgrid-container class="g37SeSZHIw gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--pt-mobile:var(--g-s-3xl);--pb-mobile:var(--g-s-3xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FCFAF7;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="giDMKPtHb_ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gHiid6fNAy"}' data-id="gHiid6fNAy" id="gHiid6fNAy" data-same-height-subgrid-container class="gHiid6fNAy gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--cg:48px;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 12fr);--w:1000px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gjynHDU-Nm gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gylyDWH_YD"}' data-id="gylyDWH_YD" id="gylyDWH_YD" data-same-height-subgrid-container class="gylyDWH_YD gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--pos:sticky;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mb-mobile:var(--g-s-l);--pb-mobile:0px;--top:80px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gsMahMKa1L gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6nEPKHh5x"
        class="g6nEPKHh5x"
        style="--ta:left;--bs:solid;--bw:0px 0px 1px 0px;--bc:#EEEEEE;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759127563303"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg6nEPKHh5x_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gqtPLOv0L7"
        class="gqtPLOv0L7"
        style="--ta:left;--bs:solid;--bw:0px 0px 1px 0px;--bc:#EEEEEE;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759127563303"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqtPLOv0L7_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggmMAAp7ZJ"
        class="ggmMAAp7ZJ"
        style="--ta:left;--bs:solid;--bw:0px 0px 1px 0px;--bc:#EEEEEE;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759127563304"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggmMAAp7ZJ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gPjhiOHNzr"
        class="gPjhiOHNzr"
        style="--ta:left;--bs:solid;--bw:0px 0px 1px 0px;--bc:#EEEEEE;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759127563305"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggPjhiOHNzr_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4lCXq5OPI"
        class="g4lCXq5OPI"
        style="--ta:left;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l);--mb-mobile:var(--g-s-2xl);--pt-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759127563306"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4lCXq5OPI_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g4nnroGPz7 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gocdWzeuCA"}' data-id="gocdWzeuCA" id="gocdWzeuCA" data-same-height-subgrid-container class="gocdWzeuCA gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gwh1T_Orvs gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g84JzRM84r"
        class="g84JzRM84r"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759127563309"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:capitalize;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg84JzRM84r_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gL-Gj2jI7T"
        class="gL-Gj2jI7T"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759127563310"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggL-Gj2jI7T_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g4WCm-K0Hc"}' data-id="g4WCm-K0Hc" id="g4WCm-K0Hc" data-same-height-subgrid-container class="g4WCm-K0Hc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gc7Ri3qbw1 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6eAnp61Oo"
        class="g6eAnp61Oo"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759127563319"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:capitalize;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg6eAnp61Oo_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gQoHI5OU0r"
        class="gQoHI5OU0r"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759127563320"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQoHI5OU0r_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gS7ZXcpvum"}' data-id="gS7ZXcpvum" id="gS7ZXcpvum" data-same-height-subgrid-container class="gS7ZXcpvum gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gGyciedwaG gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gSD9wbZNKQ"
        class="gSD9wbZNKQ"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759127563323"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:capitalize;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggSD9wbZNKQ_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g-g1HyZpOX"
        class="g-g1HyZpOX"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759127563324"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg-g1HyZpOX_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gtkyiZJQMQ"}' data-id="gtkyiZJQMQ" id="gtkyiZJQMQ" data-same-height-subgrid-container class="gtkyiZJQMQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gFVV576xCw gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZY-XjyMGC"
        class="gZY-XjyMGC"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759127563327"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:capitalize;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZY-XjyMGC_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g98bRxlmtg"
        class="g98bRxlmtg"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759127563328"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg98bRxlmtg_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gAR30PMdGV"}' data-id="gAR30PMdGV" id="gAR30PMdGV" data-same-height-subgrid-container class="gAR30PMdGV gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gtSYti3MxF gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6twQWQJvM"
        class="g6twQWQJvM"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759127563355"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:capitalize;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg6twQWQJvM_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gn5oEHCOrm"
        class="gn5oEHCOrm"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759127563356"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggn5oEHCOrm_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-582879591580828215 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/w1g447-w1/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=582879591564050999&sectionId=582879591580828215)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg6nEPKHh5x_text","label":"gg6nEPKHh5x_text","default":"<p>1. General</p>"},{"type":"html","id":"ggqtPLOv0L7_text","label":"ggqtPLOv0L7_text","default":"<p>2. Damages and Issues</p>"},{"type":"html","id":"gggmMAAp7ZJ_text","label":"gggmMAAp7ZJ_text","default":"<p>3. Exchanges</p>"},{"type":"html","id":"ggPjhiOHNzr_text","label":"ggPjhiOHNzr_text","default":"<p>4. European Union 14 day Cooling Off Period</p>"},{"type":"html","id":"gg4lCXq5OPI_text","label":"gg4lCXq5OPI_text","default":"<p>5. Refunds</p>"},{"type":"html","id":"gg84JzRM84r_text","label":"gg84JzRM84r_text","default":"<p>1. General</p>"},{"type":"html","id":"ggL-Gj2jI7T_text","label":"ggL-Gj2jI7T_text","default":"<p>We offer a <strong>14-day return policy</strong> in accordance with EU consumer protection regulations. You may request a return within 14 days from the day you receive your order.<br><br>&nbsp;</p><p>To be eligible for a return, the item must be unused, unworn, with all original tags, and in its original packaging. Proof of purchase is also required.<br><br>&nbsp;</p><p>⚠️ Please note:<br><br>&nbsp;</p><p><strong>Refunds are only issued after the returned item has been received and inspected.</strong> We do not provide refunds without a return.<br><br>&nbsp;</p><p>For returns due to personal preference or non-quality-related reasons, a <strong>€20 fee</strong> will be deducted from your refund. This fee covers return shipping and restocking costs.<br><br>&nbsp;</p><p>Once an order has been shipped and tracking information has been generated, we do not accept return requests. However, you may <strong>refuse the delivery upon arrival</strong>, and no additional fees will be charged for refused parcels.<br><br>&nbsp;</p><p>To initiate a return, please contact our customer service team at <strong>support-eu@luxebrims.com</strong> before sending any item back. Unauthorized returns will not be accepted.</p>"},{"type":"html","id":"gg6eAnp61Oo_text","label":"gg6eAnp61Oo_text","default":"<p>2. Damages And Issues</p>"},{"type":"html","id":"ggQoHI5OU0r_text","label":"ggQoHI5OU0r_text","default":"<p>Please check your order upon delivery and contact us immediately if you receive a defective, damaged, or incorrect item. We will evaluate the issue and provide the appropriate solution.</p>"},{"type":"html","id":"ggSD9wbZNKQ_text","label":"ggSD9wbZNKQ_text","default":"<p>3. Exchanges</p>"},{"type":"html","id":"gg-g1HyZpOX_text","label":"gg-g1HyZpOX_text","default":"<p>At this time, we do not process direct exchanges. The quickest way to receive your preferred item is to refuse the original delivery or return the accepted item, and then place a new order separately.</p>"},{"type":"html","id":"ggZY-XjyMGC_text","label":"ggZY-XjyMGC_text","default":"<p>4. European Union 14 day cooling off period</p>"},{"type":"html","id":"gg98bRxlmtg_text","label":"gg98bRxlmtg_text","default":"<p>In compliance with EU law, you have the right to cancel or return your order within <strong>14 days</strong> of delivery, without providing any reason. The item must remain in the same condition as received: unworn, unused, with all original tags, and in its original packaging. A valid receipt or proof of purchase is required.</p>"},{"type":"html","id":"gg6twQWQJvM_text","label":"gg6twQWQJvM_text","default":"<p>5. Refunds</p>"},{"type":"html","id":"ggn5oEHCOrm_text","label":"ggn5oEHCOrm_text","default":"<p>Once your return has been received and inspected, we will notify you of the approval status. Approved refunds will be processed back to your original payment method within <strong>10 business days</strong>. Please note that your bank or credit card provider may require additional time to complete the transaction.<br>&nbsp;</p><p>If more than <strong>15 business days</strong> have passed since your return was approved, please contact us at <strong>support-eu@luxebrims.com</strong>.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  