
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-582879649797833588.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-582879649797833588.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-582879649797833588.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-582879649797833588.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-582879649797833588.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-582879649797833588.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-582879649797833588.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-582879649797833588.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-582879649797833588.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-582879649797833588.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-582879649797833588.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-582879649797833588.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-582879649797833588.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-582879649797833588.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-582879649797833588.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-582879649797833588.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-582879649797833588.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-582879649797833588.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-582879649797833588.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-582879649797833588.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-582879649797833588.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-582879649797833588.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-582879649797833588.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-582879649797833588.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-582879649797833588.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-582879649797833588.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-582879649797833588.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-582879649797833588.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-582879649797833588.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-582879649797833588.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-582879649797833588.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-582879649797833588.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-582879649797833588.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-582879649797833588.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-582879649797833588.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-582879649797833588.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-582879649797833588.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-582879649797833588.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-582879649797833588.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-582879649797833588.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-582879649797833588.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-582879649797833588.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-582879649797833588.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-582879649797833588.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-582879649797833588.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-582879649797833588.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-582879649797833588.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-582879649797833588.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-582879649797833588.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-582879649797833588.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-582879649797833588.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-582879649797833588.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-582879649797833588.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-582879649797833588.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-582879649797833588.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-582879649797833588.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-582879649797833588.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-582879649797833588.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-582879649797833588.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-582879649797833588.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-582879649797833588.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-582879649797833588.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-582879649797833588.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-582879649797833588.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-582879649797833588 .-gp-rotate-90,.gps-582879649797833588 .gp-rotate-180,.gps-582879649797833588 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-582879649797833588 .gp-relative{position:relative}.gps-582879649797833588 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-582879649797833588 .gp-mb-0{margin-bottom:0}.gps-582879649797833588 .gp-flex{display:flex}.gps-582879649797833588 .gp-inline-flex{display:inline-flex}.gps-582879649797833588 .gp-grid{display:grid}.gps-582879649797833588 .\!gp-hidden{display:none!important}.gps-582879649797833588 .gp-hidden{display:none}.gps-582879649797833588 .gp-min-h-0{min-height:0}.gps-582879649797833588 .gp-w-full{width:100%}.gps-582879649797833588 .gp-max-w-full{max-width:100%}.gps-582879649797833588 .-gp-rotate-90{--tw-rotate:-90deg}.gps-582879649797833588 .-gp-rotate-90,.gps-582879649797833588 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-582879649797833588 .gp-rotate-180{--tw-rotate:180deg}.gps-582879649797833588 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-582879649797833588 .gp-cursor-pointer{cursor:pointer}.gps-582879649797833588 .gp-grid-rows-\[0fr\]{grid-template-rows:0fr}.gps-582879649797833588 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-582879649797833588 .gp-flex-col{flex-direction:column}.gps-582879649797833588 .gp-items-center{align-items:center}.gps-582879649797833588 .gp-justify-center{justify-content:center}.gps-582879649797833588 .gp-gap-\[16px\]{gap:16px}.gps-582879649797833588 .gp-overflow-hidden{overflow:hidden}.gps-582879649797833588 .gp-overflow-clip{overflow:clip}.gps-582879649797833588 .gp-break-all{word-break:break-all}.gps-582879649797833588 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-582879649797833588 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-582879649797833588 .gp-duration-200{transition-duration:.2s}.gps-582879649797833588 .gp-duration-500{transition-duration:.5s}.gps-582879649797833588 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-582879649797833588 .gp-group:hover .group-hover\:\[color\:var\(--icon-expand-hover-color\)\]{color:var(--icon-expand-hover-color)}.gps-582879649797833588 .gp-group:hover .group-hover\:\[color\:var\(--text-hover-color\)\!important\]{color:var(--text-hover-color)!important}}@media (max-width:1024px){.gps-582879649797833588 .tablet\:\!gp-hidden{display:none!important}.gps-582879649797833588 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-582879649797833588 .mobile\:\!gp-hidden{display:none!important}.gps-582879649797833588 .mobile\:gp-hidden{display:none}}.gps-582879649797833588 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-582879649797833588 .\[\&\>svg\]\:\!gp-w-full>svg{width:100%!important}.gps-582879649797833588 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g4K8HkMPnO"}' data-id="g4K8HkMPnO" id="g4K8HkMPnO" data-same-height-subgrid-container class="g4K8HkMPnO gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(undefined);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gDi3-Ms7gI gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gTGrwcMItK"}' data-id="gTGrwcMItK" id="gTGrwcMItK" data-same-height-subgrid-container class="gTGrwcMItK gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--cg:32px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g0XcKxAF7h gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:var(--g-s-xl)" class="gLIhC_TFil ">
      
    <gp-accordion data-id="gLIhC_TFil" class="gp-flex gp-flex-col gp-w-full" style="--gg:var(--g-s-xl);border-radius:inherit"
      gp-data='{"uid":"gLIhC_TFil","setting":{"iconSvg":"plus","isIconPlus":true,"activeKey":"0","expanded":false,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"iconCollapse":"<svg height=\"20\" width=\"20\" data-name=\"plus-bold\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817587901825384\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z\" /></svg>","iconExpand":"<svg height=\"20\" width=\"20\" data-name=\"minus-bold\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817584339812712\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M228,128a12,12,0,0,1-12,12H40a12,12,0,0,1,0-24H216A12,12,0,0,1,228,128Z\" /></svg>","layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gLIhC_TFil","childListNumber":[],"chidlrenUid":["guu7SscHve","gdG5TBih73"]},"styles":{"bgColor":{"normal":"transparent"},"color":{"normal":"#242424"},"headerBorder":{"normal":{"border":"none","borderLabel":"None","borderType":"none","color":"transparent","isCustom":false,"width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":true},"width":{"desktop":"1170px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"24px","vertical":"16px"}}},"textColor":{"active":"#121212","hover":"#121212","normal":"#242424"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"var(--g-s-xl)","padding":{"bottom":"0px","left":"24px","right":"24px","top":"0px","type":"custom"}},"mobile":{"padding":{"bottom":"0px","left":"24px","right":"24px","top":"0px","type":"custom"}},"tablet":{"padding":{"bottom":"0px","left":"24px","right":"24px","top":"0px","type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"16px","left":"24px","right":"24px","top":"16px","type":"custom"}},"mobile":{"padding":{"bottom":"16px","left":"24px","right":"24px","top":"16px","type":"custom"}},"tablet":{"padding":{"bottom":"16px","left":"24px","right":"24px","top":"16px","type":"custom"}}},"widthHeightSize":{"desktop":{"width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}}}}'
        >
        <div class=" gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
      
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#242424;--icon-expand-active-color:#242424;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EEEEEE">
    <div data-index="0" class="gLIhC_TFil gp-overflow-hidden gp-child-item-gLIhC_TFil gp-accordion-item">
      <div aria-hidden uid="guu7SscHve" id="guu7SscHve" data-index="0"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gLIhC_TFil gp-accordion-item-gLIhC_TFil-0" style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent">
        
          <div class="gp-inline-flex">
            <span style="--c:#242424;width:16px;height:16px"
            data-index="0"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" data-name="plus-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756953590484"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLIhC_TFil_childItem_0 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="0" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="0" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px;--pl-tablet:24px;--pr-tablet:24px;--pl-mobile:24px;--pr-mobile:24px">
          <div
      data-same-height-display-contents
      
      class="gdZh6UN5ef gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gC5BEHs1fy"
        class="gC5BEHs1fy"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756953590485"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#575757;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggC5BEHs1fy_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#242424;--icon-expand-active-color:#242424;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EEEEEE">
    <div data-index="1" class="gLIhC_TFil gp-overflow-hidden gp-child-item-gLIhC_TFil gp-accordion-item">
      <div aria-hidden uid="gdG5TBih73" id="gdG5TBih73" data-index="1"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gLIhC_TFil gp-accordion-item-gLIhC_TFil-1" style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent">
        
          <div class="gp-inline-flex">
            <span style="--c:#242424;width:16px;height:16px"
            data-index="1"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" data-name="plus-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756953590487"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLIhC_TFil_childItem_1 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="1" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="1" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px;--pl-tablet:24px;--pr-tablet:24px;--pl-mobile:24px;--pr-mobile:24px">
          <div
      data-same-height-display-contents
      
      class="gYAwTKYF7i gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g9Xj1XzVRN"
        class="g9Xj1XzVRN"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756953590488"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#575757;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9Xj1XzVRN_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
    </gp-accordion>
    
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-accordion-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    
  
      </div>
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gou7C9ySOD gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gxDzFvGzqB ">
      
    <gp-accordion data-id="gxDzFvGzqB" class="gp-flex gp-flex-col gp-w-full" style="--gg:var(--g-s-l);border-radius:inherit"
      gp-data='{"uid":"gxDzFvGzqB","setting":{"iconSvg":"plus","isIconPlus":true,"activeKey":"0","expanded":false,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"iconCollapse":"<svg height=\"20\" width=\"20\" data-name=\"plus-bold\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817587901825384\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z\" /></svg>","iconExpand":"<svg height=\"20\" width=\"20\" data-name=\"minus-bold\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817584339812712\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M228,128a12,12,0,0,1-12,12H40a12,12,0,0,1,0-24H216A12,12,0,0,1,228,128Z\" /></svg>","layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gxDzFvGzqB","childListNumber":[],"chidlrenUid":["g9q2GDg-5g","gINm6zmSek","gnDqLePMx5"]},"styles":{"bgColor":{"normal":"transparent"},"color":{"active":"#242424","hover":"#242424","normal":"#575757"},"headerBorder":{"normal":{"border":"none","borderLabel":"None","borderType":"none","color":"transparent","isCustom":false,"width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":true},"width":{"desktop":"1170px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"24px","vertical":"16px"}}},"textColor":{"active":"#242424","hover":"#242424","normal":"#242424"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"var(--g-s-l)","padding":{"bottom":"0px","left":"24px","right":"24px","top":"0px","type":"custom"}},"mobile":{"padding":{"bottom":"0px","left":"24px","right":"24px","top":"0px","type":"custom"}},"tablet":{"padding":{"bottom":"0px","left":"24px","right":"24px","top":"0px","type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"16px","left":"24px","right":"24px","top":"16px","type":"custom"}},"mobile":{"padding":{"bottom":"16px","left":"24px","right":"24px","top":"16px","type":"custom"}},"tablet":{"padding":{"bottom":"16px","left":"24px","right":"24px","top":"16px","type":"custom"}}},"widthHeightSize":{"desktop":{"width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}}}}'
        >
        <div class=" gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
      
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#242424;--icon-expand-active-color:#242424;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EEEEEE">
    <div data-index="0" class="gxDzFvGzqB gp-overflow-hidden gp-child-item-gxDzFvGzqB gp-accordion-item">
      <div aria-hidden uid="g9q2GDg-5g" id="g9q2GDg-5g" data-index="0"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gxDzFvGzqB gp-accordion-item-gxDzFvGzqB-0" style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent">
        
          <div class="gp-inline-flex">
            <span style="--c:#575757;width:16px;height:16px"
            data-index="0"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" data-name="plus-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756953590490"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxDzFvGzqB_childItem_0 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="0" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="0" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px;--pl-tablet:24px;--pr-tablet:24px;--pl-mobile:24px;--pr-mobile:24px">
          <div
      data-same-height-display-contents
      
      class="gK2WyrKuqF gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gjKRrIfuuT"
        class="gjKRrIfuuT"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756953590491"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjKRrIfuuT_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#242424;--icon-expand-active-color:#242424;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EEEEEE">
    <div data-index="1" class="gxDzFvGzqB gp-overflow-hidden gp-child-item-gxDzFvGzqB gp-accordion-item">
      <div aria-hidden uid="gINm6zmSek" id="gINm6zmSek" data-index="1"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gxDzFvGzqB gp-accordion-item-gxDzFvGzqB-1" style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent">
        
          <div class="gp-inline-flex">
            <span style="--c:#575757;width:16px;height:16px"
            data-index="1"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" data-name="plus-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756953590492"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxDzFvGzqB_childItem_1 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="1" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="1" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px;--pl-tablet:24px;--pr-tablet:24px;--pl-mobile:24px;--pr-mobile:24px">
          <div
      data-same-height-display-contents
      
      class="gvPVJ62YeA gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gA2FjxJ1lF"
        class="gA2FjxJ1lF"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756953590493"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggA2FjxJ1lF_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#242424;--icon-expand-active-color:#242424;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EEEEEE">
    <div data-index="2" class="gxDzFvGzqB gp-overflow-hidden gp-child-item-gxDzFvGzqB gp-accordion-item">
      <div aria-hidden uid="gnDqLePMx5" id="gnDqLePMx5" data-index="2"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gxDzFvGzqB gp-accordion-item-gxDzFvGzqB-2" style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent">
        
          <div class="gp-inline-flex">
            <span style="--c:#575757;width:16px;height:16px"
            data-index="2"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" data-name="plus-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756953590494"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxDzFvGzqB_childItem_2 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="2" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="2" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px;--pl-tablet:24px;--pr-tablet:24px;--pl-mobile:24px;--pr-mobile:24px">
          <div
      data-same-height-display-contents
      
      class="g6W7cVT09w gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gofMCCZafy"
        class="gofMCCZafy"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756953590495"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggofMCCZafy_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
    </gp-accordion>
    
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-accordion-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-582879649797833588 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/w1g447-w1/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=582879649764213620&sectionId=582879649797833588)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggLIhC_TFil_childItem_0","label":"ggLIhC_TFil_childItem_0","default":"Is it free shipping? "},{"type":"html","id":"ggLIhC_TFil_childItem_1","label":"ggLIhC_TFil_childItem_1","default":"How long does it take to receive my order?"},{"type":"html","id":"ggC5BEHs1fy_text","label":"ggC5BEHs1fy_text","default":"<p>Yes! We offer free shipping on our 'limited time flash deal' (Main Campaign page) with the minimum amount purchased (usually 2 bottles or more - unless otherwise stated). Daily 'limited time flash deal' offers can not be combined with any other wine from any other page. Only one or more bottles of wine listed on our Premium, Last Chance or Cellar offerings can be combined for free shipping.</p>"},{"type":"html","id":"gg9Xj1XzVRN_text","label":"gg9Xj1XzVRN_text","default":"<p>Orders will be processed within 1-2 business days (Monday to Friday, excluding holidays). If your order contains any Archives item(s), please allow an additional 2-3 business days to process. Archives items will be shipped separately from regular items</p>"},{"type":"html","id":"ggxDzFvGzqB_childItem_0","label":"ggxDzFvGzqB_childItem_0","default":"How will my order be shipped?"},{"type":"html","id":"ggxDzFvGzqB_childItem_1","label":"ggxDzFvGzqB_childItem_1","default":"What are your shipping costs?"},{"type":"html","id":"ggxDzFvGzqB_childItem_2","label":"ggxDzFvGzqB_childItem_2","default":"My order has already been shipped but I need to update the address. What should I do?"},{"type":"html","id":"ggjKRrIfuuT_text","label":"ggjKRrIfuuT_text","default":"<p>Your order will be shipped by one of these courier services, depending on your shipping address:<br>Worldwide: FedEx, DHL<br>China: DHL, SF Express<br>Hong Kong SAR: Local Express Courier, SF Express<br>Macau SAR: SF Express<br>Japan: FedEx, Sagawa, Yamato<br>Korea: FedEx, Lotte<br>Singapore: FedEx, Crane</p>"},{"type":"html","id":"ggA2FjxJ1lF_text","label":"ggA2FjxJ1lF_text","default":"<p>Our shipping costs differ depending on where the order is shipping to and how fast it’s getting there.<br><br>Our shipping costs differ depending on where the order is shipping to and how fast it’s getting there. You can check out our&nbsp;<br>delivery options table.</p>"},{"type":"html","id":"ggofMCCZafy_text","label":"ggofMCCZafy_text","default":"<p>Please contact us as soon as possible if you need to change your address.<br><br>Please contact us as soon as possible if you need to change your address. Keep in mind that a rerouting fee may be charged by the courier to change your address.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  